@include media-breakpoint-down(md) {
  .nav-sections {
    width: 100%;
    position: fixed;
    top: $header-height + 60px;
    bottom: 0;
    z-index: 1050;
    left: -100%;
    transition: left cubic-bezier(0.5, 0.25, 0, 1) 0.4s;
    background: #323232;
    overflow: auto;
    @include clearfix;

    .nav-open & {
      left: 0;
    }
    .header-account-dropdown {
      li {
        & + li {
          border-top: 1px solid #282828;
        }
      }
    }
    ul {
      padding: 0;
      list-style: none;
    }
    li {
      padding: 10px 0;

      & + li.level0 {
        border-top: 1px solid #282828;
      }
      a {
        color: #fff;
      }
    }
  }
  .nav-sections-item-title {
    width: 50%;
    height: 50px;
    float: left;
    padding: 13px 30px 0;
    color: #C8C8C8;
    background: rgba(#fff, 0.1);
    text-align: right;
    transition: backgroun ease 0.3s;
    text-transform: uppercase;

    &[aria-controls="store.menu"] {
      text-align: left;
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 30px;
        background: #282828;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &[aria-controls="store.settings"] {
      display: none !important;
    }
    &:hover {
      .nav-sections-item-switch {
        color: #c8c8c8;
      }
    }
    &.active {
      font-weight: $font-weight-medium;

      .nav-sections-item-switch {
        color: #fff;
      }
    }

  }
  .nav-sections-item-switch {
    font-size: 16px;
    color: #666;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  .nav-sections-item-content {
    float: right;
    margin-left: -100%;
    margin-top: 60px;
    width: 100%;
    padding: 20px;

    &#store.settings {
      display: none !important;
    }
  }
}

@include media-breakpoint-up(lg) {
  .nav-sections {
    flex: 1;
    display: flex;
  }
  .nav-sections-item-title {
    display: none;
  }
  .section-item-content {
    display: none !important;

    &[id="store.menu"] {
      display: block !important;
    }
  }
}