.action.nav-toggle {
  width: 40px;
  height: 40px;
  padding: 13px 10px;
  border-radius: 40px;
  position: relative;

  i {
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    left: 10px;
    background: #fff;
    transition: all ease 0.5s;

    &:nth-child(1) {
      top: 14px;
    }
    &:nth-child(2) {
      top: 19px;
    }
    &:nth-child(3) {
      top: 24px;
    }
  }
}