//
//  Shopping cart
//  ---------------------------------------------
.checkout-cart-index {
  .page-title {
    text-transform: uppercase;
    padding-bottom: 15px;
  }
}

.cart-page-top {
  background-color: $gray-lightest;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;

  > :not(:last-child) {
    border-right: 1px solid $gray-border;
  }

  .item {
    color: $black;
    display: flex;
    align-items: center;
    transition: .5s ease color;

    .image {
      font-size: 22px;
      text-align: center;
      line-height: 50px;
      width: 80px;
    }

    .text {
      font-size: 14px;
    }

    .title,
    .description {
      transition: .5s ease color;
    }
    .title {
      font-weight: 500;
      color: $gray-dark;
      margin-bottom: 5px;
    }
    .description {
      color: $gray-darker;
    }

    &:hover,
    &:focus {
      color: $brand-secondary;

      .title,
      .description {
        color: $brand-secondary;
      }
    }
  }
}

.cart-container {
  .form-cart,
  .cart-summary {
    background-color: #fff;
    margin-bottom: $grid-gutter-width-base/2;
  }
}

.cart.table-wrapper {
  .table-caption {
    display: none;
  }

  .col.image {
    width: 100px;
  }
  .col.item {
    a {
      color: $gray-darker;
      display: block;
      line-height: 1.6em;
      height: 6.4em;
      overflow: hidden;
    }

    .sku {
      font-size: 12px;
      color: $gray-light;
      padding-top: 5px;
    }
  }
  .col.qty {
    width: 100px;

    .form-group {
      margin-bottom: 0;
    }
    .form-control {
      color: $gray-darker;
      width: 60px;
    }
  }
  .col.subtotal .price {
    font-weight: 500;
  }
  .col.delete {
    text-align: right;

    .action-delete i {
      font-size: 20px;
      color: $brand-secondary;
      transition: .5s color ease;

      &:hover,
      &:focus {
        color: lighten($brand-secondary, 20%);
      }
    }
  }
  .product-item-name {
    a {
      color: $black;
    }
  }
  thead {
    border-bottom: 1px solid $black;

    th {
      font-weight: 500;
      text-transform: uppercase;
      border: none;

      &:first-child {
        padding-left: 0;
      }
    }
  }
  tbody {
    border-bottom: 1px solid $gray-border;

    td {
      vertical-align: middle;
      padding: 1.5rem 0.75rem;
      border: 0;
    }
  }
}

.cart-container .cart-summary {
  border: 1px solid $gray-border;
  border-radius: 4px;
  padding: 30px;

  .summary.title {
    font-size: 28px;
    color: $black;
    margin-bottom: 15px;
  }

  .block.shipping {
    display: none;

    &.active {
      .title {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
    .title {
      padding-right: $grid-gutter-width-base;
      position: relative;
      display: block;
      margin-bottom: 10px;
      cursor: pointer;

      &:after {
        @if variable-exists(icon-chevron-down) {
          content: $icon-chevron-down;
        } @else {
          @warn 'Variable is not defined!';
        }
        font-family: $icon-font-family;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
      }
    }
  }

  .mark,
  .amount {
    border-top: none;
  }
  :not(:last-child) {
    > .mark,
    > .amount {
      border-bottom: 1px solid $gray-border;
    }
  }
  .mark {
    font-weight: normal;
    color: $gray-darker;
    background: transparent;
    padding-left: 0;
  }
  .amount {
    text-align: right;
    color: $gray-darker;
    padding-right: 0;
    white-space: nowrap;
  }
  .grand.totals {
    font-size: 18px;

    .mark,
    .amount {
      color: $gray;

      strong {
        font-weight: normal;
      }
    }
  }
  .checkout.methods {
    margin-top: 30px;

    .item + .item {
      margin-top: 10px;
    }
  }
  .shipping-zip-form .field {
    margin-bottom: $form-group-margin-bottom;
  }
  .action.primary.checkout,
  .btn.multicheckout {
    font-size: 16px;
    width: 100%;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    white-space: normal;
    padding: 16px;
  }
  .btn.multicheckout {
    padding: $btn-padding-y 10px;
  }
}

.block.discount {
  .title {
    font-weight: 500;
    display: block;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }

  .input-discount,
  .action {
    font-size: 12px;
  }
  .action {
    font-weight: bold;
    background-color: $input-border-color;
    border-color: $input-border-color;
    border-radius: 4px;
    margin-left: -3px;
    z-index: 4;

    &:hover,
    &:focus {
      background-color: lighten($input-border-color, 10%);
      border-color: lighten($input-border-color, 10%);
    }
  }
}

@include media-breakpoint-down(lg) {
  .cart-page-top {
    .item {
      .text {
        font-size: 12px;
        text-align: center;
      }

      .title {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }

  .cart-container .cart-summary {
    padding: 20px;
  }
}

// Tablet
@include media-breakpoint-down(md) {
  .cart-page-top {
    .item {
      .description {
        display: none;
      }
    }
  }

  .cart.table-wrapper {
    thead th {
      ::after {
        content: "S";
      }

      &:not(:first-child) {
        display: none;
      }
    }

    tbody .col {
      display: block;

      &.image {
        position: absolute;
      }

      &:not(.image) {
         float: right;
         width: 100%;
         padding-left: 120px;
       }

      &.item {
        padding-bottom: 20px;
      }
      &.qty,
      &.subtotal,
      &.delete {
        padding-top: 0;
        padding-bottom: 10px;
        padding-right: 0;
      }
      &.subtotal {
        font-weight: 500;
        text-align: right;
        margin-bottom: -20px;
      }
      &.delete {
        position: relative;
        bottom: 55px;
        right: 30px;
        width: 40px;
      }

      &.qty::before,
      &.subtotal::before {
        content: attr(data-th);
        font-weight: 500;
        text-transform: uppercase;
      }
      &.qty::before {
        float: left;
        width: 60px;
        line-height: 40px;
      }
      &.subtotal::before {
        float: left;
      }
    }
  }

  .cart-container .cart-summary {
    .summary.title {
      font-size: 22px;
    }

    .mark,
    .amount {
      font-size: 12px;
    }
    .grand.totals {
      .mark,
      .amount {
        color: $gray-dark;

        strong {
          font-weight: 500;
        }
      }
    }
  }

  .block.discount {
    .title {
      font-size: 12px;
      line-height: 1.2em;
      font-weight: normal;
      color: $gray-light;
    }

    .action {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile
@include media-breakpoint-down(sm) {
  .cart-page-top {
    .item {
      .description {
        display: none;
      }
    }
  }

  .cart.main.actions {
    .btn,
    .action {
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }

  .cart-container .cart-summary {
    .mark,
    .amount {
      font-size: 14px;
    }
    .grand.totals {
      font-size: 18px;

      .mark,
      .amount {
        color: $gray;

        strong {
          font-weight: normal;
        }
      }
    }
  }

  .block.discount {
    .title {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5em;
      color: $gray-dark;
    }

    .action {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .cart-page-top {
    .item {
      flex-direction: column;
    }
  }

  .cart.table-wrapper {
    tbody .col {
      &.qty,
      &.subtotal {
        padding-left: 0;
      }
      &.qty::before {
        width: 120px;
      }
    }
  }
}

// Tablet
@include media-breakpoint-only(md) {
  .cart-container {
    .form-cart {
      margin-bottom: 0;
    }
  }
  .cart.table-wrapper {
    .col.subtotal {
      padding-right: 90px;
      white-space: nowrap;
    }
    .item-actions {
      .actions-toolbar {
        .btn {
          $size: 30px;

          width: $size;
          height: $size;
          padding: 0;
          position: absolute;
          right: 0;
          line-height: $size;

          &:nth-child(1) {
            bottom: 90px;
          }
          &:nth-child(2) {
            bottom: 50px;
          }
          &:nth-child(3) {
            bottom: 10px;
          }
        }
      }
    }
    tbody {
      td {
        padding: 2.25rem 0.75rem;
      }
    }
  }
  .cart.main.actions {
    @include clearfix;

    .btn,
    .action {
      width: calc(50% - #{$grid-gutter-width-base/2});
      float: left;

      &.checkout {
        float: right;
      }
    }
  }
}

// Desktop - wide desktop
@include media-breakpoint-only(lg) {
  .cart.main.actions {
    .btn {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@include media-breakpoint-up(md) {
  .col-form-cart {
    order: 1;
  }
  .col-cart-summary {
    order: 2;
  }

  .cart-container .cart-summary {
    margin-top: -40px;
  }
}
@include media-breakpoint-up(lg) {
  .cart-container {
    .form-cart {
      margin: 0;
    }
  }
  .cart.table-wrapper {
    .item-actions {
      .actions-toolbar {
        .btn {
          width: 25px;
          height: 40px;
          padding: $btn-padding-y 0;
          border: 0;
          position: absolute;
          bottom: 10px;

          &.action-delete {
            right: 0;
          }
          &.action-edit {
            right: 35px;
          }
          &.action-towishlist {
            right: 70px;
          }
        }
      }
    }
  }
  .cart.main.actions {
    .btn {
      float: right;
    }
  }
}
