.checkout-info-box {
  background-color: $gray-lightest;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;

  > :not(:last-child) {
    border-right: 1px solid $gray-border;
  }

  .item {
    color: $black;
    display: flex;
    align-items: center;
    transition: .5s ease color;

    .image {
      font-size: 22px;
      text-align: center;
      line-height: 50px;
      width: 80px;
    }

    .text,
    .title {
      font-size: 14px;
    }

    .title,
    .description {
      transition: .5s ease color;
    }

    .title {
      font-weight: 500;
      color: $gray-dark;
      margin-bottom: 5px;
    }

    .description {
      color: $gray-darker;
    }

    &:hover,
    &:focus {
      color: $brand-secondary;

      .title,
      .description {
        color: $brand-secondary;
      }
    }
  }
}

.opc-sidebar .checkout-info-box {
  margin-left: 0;
  margin-right: 0;
  display: block;
  background-color: transparent;

  > * {
    width: 100%;
    max-width: 100%;
    border-right: none;
    margin-bottom: 10px;
    background-color: $gray-lightest;
  }

  .item .text {
    padding-top: 20px;
  }
}

@include media-breakpoint-down(lg) {
  .checkout-cart-index .checkout-info-box {
    .item {
      .text {
        font-size: 12px;
        text-align: center;
      }

      .title {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-cart-index .checkout-info-box {
    .item {
      .description {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .opc-sidebar .checkout-info-box {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .checkout-cart-index .checkout-info-box {
    .item {
      flex-direction: column;
    }
  }
}
