<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\Autorelated\Model\ResourceModel\Product\Collection">
        <plugin name="aheadworks_autorelated_warehouse_collection" type="Oander\AutorelatedWarehouseManagerExtender\Plugin\Model\ResourceModel\Product\Collection"/>
    </type>
    <type name="Aheadworks\Autorelated\Model\Rule\Related\Condition\Combine">
        <plugin name="aheadworks_autorelated_warehouse_related_combine" type="Oander\AutorelatedWarehouseManagerExtender\Plugin\Model\Rule\Related\Condition\Combine"/>
    </type>
    <type name="Aheadworks\Autorelated\Model\Rule\Viewed\Condition\Combine">
        <plugin name="aheadworks_autorelated_warehouse_viewed_combine" type="Oander\AutorelatedWarehouseManagerExtender\Plugin\Model\Rule\Viewed\Condition\Combine"/>
    </type>
</config>
