<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mp_trade" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>MP Trade In</label>
            <resource>Oander_MPTrade::config</resource>
            <tab>oander</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Oander\MPTrade\Model\Config\Source\Environment</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                    <label>API key</label>
                </field>
            </group>
        </section>
    </system>
</config>