<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="storepick_list" xsi:type="object">Oander\IstyleCheckout\Model\StorePickupList</item>
                <item name="checkout_add_website_block" xsi:type="object">Oander\IstyleCheckout\Model\WebsiteIdConfigProvider</item>
                <item name="mageplaza_recaptcha" xsi:type="object">Oander\IstyleCheckout\Model\MageplazaRecaptcha</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Address">
        <plugin name="Oander_IstyleCheckout_Plugin_Frontend_Magento_Customer_Model_Address" type="Oander\IstyleCheckout\Plugin\Frontend\Magento\Customer\Model\Address" sortOrder="10" disabled="false"/>
    </type>
</config>