<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\View" type="Oander\IstyleCustomization\Block\Product\View"/>
    <preference for="Magento\Catalog\Block\Category\View" type="Oander\IstyleCustomization\Block\Category\View"/>
    <type name="Magento\Payment\Gateway\Data\Order\OrderAdapter">
        <plugin disabled="false" name="Oander_IstyleCustomization_Plugin_Magento_Payment_Gateway_Data_Order_OrderAdapter" sortOrder="10" type="Oander\IstyleCustomization\Plugin\Magento\Payment\Gateway\Data\Order\OrderAdapter"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="logProductName" type="Oander\IstyleCustomization\Plugin\Checkout\Model\Checkout\LayoutProcessor"
                sortOrder="10" />
    </type>
    <type name="Magento\Quote\Model\QuoteRepository\SaveHandler">
        <plugin name="move_pfpj_reg_no_data_from_extension_attributes_to_flat_table" type="Oander\IstyleCustomization\Plugin\Quote\Model\QuoteRepository\SaveHandler"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="move_pfpj_reg_no_field_from_quote_address_to_order_address" type="Oander\IstyleCustomization\Plugin\Quote\Model\Quote\Address\ToOrderAddress"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="simple_name_of_config_product_in_minicart_renderer" type="Oander\IstyleCustomization\Plugin\Checkout\Block\Cart\Item\Renderer"/>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="simple_name_of_config_product_in_cart_abstractitem" type="Oander\IstyleCustomization\Plugin\Checkout\CustomerData\AbstractItem"/>
    </type>
    <type name="Magento\CacheInvalidate\Model\PurgeCache">
        <plugin name="varnish_clear_fix" type="Oander\IstyleCustomization\Plugin\CacheInvalidate\Model\PurgeCache"/>
    </type>
    <type name="Magento\Bundle\Helper\Catalog\Product\Configuration">
        <plugin name="bundle_product_price_display_in_cart_fix" type="Oander\IstyleCustomization\Plugin\Bundle\Helper\Catalog\Product\Configuration"/>
    </type>
    <type name="Magento\Framework\Filter\Template">
        <plugin name="framework_filter_template_tostring" type="Oander\IstyleCustomization\Plugin\Framework\Filter\Template"/>
    </type>
    <preference for="Anowave\Ec\Block\Plugin"
                type="Oander\IstyleCustomization\Block\Plugin" />
    <preference for="Xtento\OrderExport\Model\Export\Data\Shared\Items"
                type="Oander\IstyleCustomization\Model\Export\Data\Shared\Items" />

    <type name="Magento\Quote\Model\QuoteRepository\SaveHandler">
        <plugin name="move_pfpj_reg_no_data_from_extension_attributes_to_flat_table" type="Oander\IstyleCustomization\Plugin\Quote\Model\QuoteRepository\SaveHandler"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="move_pfpj_reg_no_field_from_quote_address_to_order_address" type="Oander\IstyleCustomization\Plugin\Quote\Model\Quote\Address\ToOrderAddress"/>
    </type>
    <preference for="Magento\Catalog\Model\Indexer\Product\Flat\TableBuilder" type="Oander\IstyleCustomization\Model\Indexer\Product\Flat\TableBuilder"/>
    <preference for="Magento\Catalog\Model\Indexer\Product\Flat\FlatTableBuilder" type="Oander\IstyleCustomization\Model\Indexer\Product\Flat\FlatTableBuilder"/>
    <type name="\Magento\Catalog\Controller\Category\View">
        <plugin name="remove_unnecessary_blocks" type="Oander\IstyleCustomization\Plugin\Catalog\Controller\Category\View"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="api_gateway_cache_clear_fix" type="Oander\IstyleCustomization\Plugin\Catalog\Model\Product"/>
    </type>
    <preference for="Magento\CatalogWidget\Model\Rule\Condition\Product" type="Oander\IstyleCustomization\Model\Rule\Condition\Product"/>
    <type name="Magento\Catalog\Block\Product\View\Attributes">
        <plugin name="remove_na_attributes" type="Oander\IstyleCustomization\Plugin\Catalog\Block\Product\View\Attributes" sortOrder="5" />
    </type>
    <type name="Magento\Catalog\Helper\Data">
        <plugin name="catalog_helper_plugin" type="Oander\IstyleCustomization\Plugin\Catalog\Helper\Data" sortOrder="100"/>
    </type>
    <type name="Magento\Theme\Model\Design\Config\MetadataProvider">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="header_logo_url" xsi:type="array">
                    <item name="path" xsi:type="string">design/header/logo_url</item>
                    <item name="fieldset" xsi:type="string">other_settings/header</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="catalog_helper_plugin" type="Oander\IstyleCustomization\Plugin\ConfigurableProduct\Block\Product\View\Type\Configurable" sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="IstyleCustomization_block_product_view" type="Oander\IstyleCustomization\Plugin\Catalog\Block\Product\View" sortOrder="100"/>
    </type>

    <preference for="Bigfishpaymentgateway\Pmgw\Block\Info" type="Oander\IstyleCustomization\Block\Info"/>
    <preference for="Bigfishpaymentgateway\Pmgw\Block\Success" type="Oander\IstyleCustomization\Block\Success"/>

    <type name="Magento\CatalogUrlRewrite\Observer\ProductProcessUrlRewriteSavingObserver">
        <plugin name="IstyleCustomization::ProductProcessUrlRewriteSavingObserver" type="Oander\IstyleCustomization\Plugin\CatalogUrlRewrite\Observer\ProductProcessUrlRewriteSavingObserver" sortOrder="100"/>
    </type>

    <type name="Magento\Eav\Model\Entity\Attribute\Backend\AbstractBackend">
        <plugin name="IstyleCustomization::AttributeAbstractBackend" type="Oander\IstyleCustomization\Plugin\Eav\Model\Entity\Attribute\Backend\AbstractBackend" sortOrder="100"/>
    </type>
    <type name="Magento\Reports\Observer\CatalogProductViewObserver">
        <plugin name="IstyleCustomization::CatalogProductViewObserver" type="Oander\IstyleCustomization\Plugin\Reports\Observer\CatalogProductViewObserver" sortOrder="100"/>
    </type>
    <preference for="Innobyte\MStart\Controller\Payment\Response" type="Oander\IstyleCustomization\Rewrite\Innobyte\MStart\Controller\Payment\Response"/>
    <!-- #44918 START -->
    <preference for="Magento\Checkout\Api\ShippingInformationManagementInterface" type="Oander\IstyleCustomization\Preference\Magento\Checkout\Model\ShippingInformationManagement" />
    <type name="Magento\Quote\Model\PaymentMethodManagement">
        <plugin name="IstyleCustomization::PaymentMethodObserver" type="Oander\IstyleCustomization\Plugin\Magento\Quote\Model\PaymentMethodManagement" sortOrder="100"/>
    </type>
    <!-- #44918 END -->

    <preference for="Anowave\Ec\Preference\Related" type="Oander\IstyleCustomization\Rewrite\Anowave\Ec\Preference\Related" />

    <type name="Xtento\OrderExport\Model\Export\Data">
        <plugin name="IstyleCustomization::XtentoItem" type="Oander\IstyleCustomization\Plugin\Xtento\OrderExport\Model\Export\Data" sortOrder="100"/>
    </type>
</config>
