<?xml version="1.0"?>
<!--
/**
 *   /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$  /$$$$$$$$ /$$$$$$$
 *  /$$__  $$ /$$__  $$| $$$ | $$| $$__  $$| $$_____/| $$__  $$
 * | $$  \ $$| $$  \ $$| $$$$| $$| $$  \ $$| $$      | $$  \ $$
 * | $$  | $$| $$$$$$$$| $$ $$ $$| $$  | $$| $$$$$   | $$$$$$$/
 * | $$  | $$| $$__  $$| $$  $$$$| $$  | $$| $$__/   | $$__  $$
 * | $$  | $$| $$  | $$| $$\  $$$| $$  | $$| $$      | $$  \ $$
 * |  $$$$$$/| $$  | $$| $$ \  $$| $$$$$$$/| $$$$$$$$| $$  | $$
 *  \______/ |__/  |__/|__/  \__/|_______/ |________/|__/  |__/
 *
 * Oander_Maintenance
 * @license Oander Media Kft. (http://www.oander.hu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="api_product_attribute_set_before">
        <observer name="api_product_attribute_set_before_observer" instance="Oander\IstyleCustomization\Observer\ApiProductObserver" />
    </event>
    <event name="ajax_captain_hook_event">
        <observer name="istyle_customization_ajax_captain_hook_event" instance="Oander\IstyleCustomization\Observer\AjaxCaptainHookEvent" />
        <observer name="istyle_customization_ajax_captain_hook_event_product_default" instance="Oander\IstyleCustomization\Observer\AjaxCaptainHookEventProductDefault" />
    </event>
    <event name="ajax_captain_hook_js_call">
        <observer name="istyle_customization_ajax_captain_hook_common_js_event" instance="Oander\IstyleCustomization\Observer\AjaxCaptainHookJsEvent" />
        <observer name="istyle_customization_ajax_captain_hook_common_js_event_product_default" instance="Oander\IstyleCustomization\Observer\AjaxCaptainHookJsEventProductDefault" />
        <!--<observer name="istyle_customization_ajax_captain_hook_common_js_event_loader" instance="Oander\IstyleCustomization\Observer\AjaxCaptainHookJsEventLoader" />-->
    </event>
    <event name="controller_front_send_response_before">
        <observer name="istyle_customization_cms_page_event" instance="Oander\IstyleCustomization\Observer\CmsPageEvent" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="oander_catalog_product_save_after_check_status" instance="Oander\IstyleCustomization\Observer\ProductSaveAfter" />
    </event>
</config>
