//
//  Components -> Modals
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

$modal-title__color: $body-color;
$modal-title__border: 1px solid $gray-light;
$modal-popup-title__font-size: 26px;
$modal-popup-title-mobile__font-size: $font-size-base;
$modal-slide-mobile__background-color: $gray-lightest;
$modal-overlay__background-color: fade($gray-dark, 55%);
$modal-action-close__color: $gray-dark;
$modal-action-close__font-size: 32px;
$modal-action-close__hover__color: darken($gray-dark, 10%);

//
//  Common
//  _____________________________________________

.modal-custom,
.modal-popup,
.modal-slide {
  .action-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.modal-popup {
  .modal-title {
    font-weight: 300;
    font-size: $modal-popup-title__font-size;
    margin-bottom: 0;
    word-wrap: break-word;
  }
  .action-close {
    padding: 10px;
  }
}

.modal-slide {
  .page-main-actions {
    margin-bottom: $modal-slide-header__padding-vertical - ($grid-gutter-width-base / 2);
    margin-top: $modal-slide-header__padding-vertical;
  }
}

.modals-overlay {
  background-color: $modal-overlay__background-color;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

body {
  &._has-modal-custom {
    .modal-custom-overlay {
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 850;
    }
  }
}

//
//  Mobile
//  _____________________________________________

@include media-breakpoint-down(sm) {
  .custom-slide {
    @include lib-modal();
    @include lib-modal-slide();
    &._show {
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .modal-inner-wrap {
      background-color: $modal-slide-mobile__background-color;
      height: auto;
      min-height: 100%;
    }
  }
  body {
    &._has-modal-custom {
      height: 100vh;
      overflow: hidden;
      width: 100vw;
      .modal-custom-overlay {
        background-color: $modal-overlay__background-color;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .modal-popup {
    &.modal-slide {
      .modal-inner-wrap[class] {
        background-color: $modal-slide-mobile__background-color;
      }
      &._inner-scroll {
        &._show {
          -webkit-overflow-scrolling: touch;
          overflow-y: auto;
        }
        .modal-inner-wrap {
          height: auto;
          min-height: 0;
        }
      }
    }
    .modal-title {
      font-size: $modal-popup-title-mobile__font-size;
      font-weight: $font-weight-bold;
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include media-breakpoint-up(md) {
  .modal-popup {
    &.modal-slide {
      .modal-footer {
        text-align: right;
      }
    }
  }
}
