.login-container {
  > .col-box {
    margin-bottom: $grid-gutter-width-base;

    > div {
      background-color: #fff;
      padding: $grid-gutter-width-base;
    }

    p {
      font-size: 14px;
      color: $gray-darker;
    }
  }
  .block-title {
    font-size: 16px;
    color: #5f5f5f;
    padding-bottom: 5px;
    margin: 0 0 15px;
    border-bottom: 1px solid $gray-border;
  }
  .action.remind {
    color: #676767;
    text-transform: none;
    transition: color .3s ease;
    font-size: 14px;
    display: block;

    &:hover {
      color: $brand-primary;
    }
  }
  .action.primary {
    display: block;
    width: 100%;
  }
  
  .form-group {
    .label {
      display: none;
    }
  }
;
}

.block-customer-login,
.block-new-customer {
  position: relative;
  border: 1px solid $gray-border;
  border-radius: 4px;
}

@include media-breakpoint-down(md) {
  .login-container {
    .action.login {
      margin-bottom: 20px;
    }
  
    .action.remind {
      padding: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .login-container {
    overflow: hidden;
  
    .col-box {
      min-height: 100px;
    
      > div {
        height: 100%;
      }
    }
    
    .block-title {
      font-size: 18px;
    }
    
    .action.create {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .login-container {
    .action.primary {
      display: inline-block;
      width: auto;
    }
  
    .action.remind {
      display: inline-block;
      font-size: 12px;
    }
  }
}
