.customer-account-logoutsuccess {
  .page-main {
    .wrapper {
      padding-top: 35px;
      padding-bottom: 50px;
      text-align: center;
    }
    .page-title-wrapper {
      margin-bottom: 25px;
    }
  }
}