$account-nav-background: $gray-lightest;
$account-nav-color: false;

$account-nav-current-border: 3px solid transparent;
$account-nav-current-border-color: $brand-primary;
$account-nav-current-color: false;
$account-nav-current-font-weight: $font-weight-semibold;

$account-nav-item-hover: $gray-lighter;

$_password-default: $gray-lightest;
$_password-weak: #ffafae;
$_password-medium: #ffd6b3;
$_password-strong: #c5eeac;
$_password-very-strong: #81b562;

body[class*="customer-"] {
  .page-title-wrapper {
    text-align: center;
  }
  .page-title {
    font-size: 26px;
    margin-bottom: 15px;
    color: $gray-darker;
    padding-top: $grid-gutter-width-base/2;
  }
}

@include media-breakpoint-up(lg) {
  body[class*="customer-"] {
    .page-title {
      margin-bottom: 60px;
    }
  }
}