<?xml version="1.0"?>
<!--
/**
 *   /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$  /$$$$$$$$ /$$$$$$$
 *  /$$__  $$ /$$__  $$| $$$ | $$| $$__  $$| $$_____/| $$__  $$
 * | $$  \ $$| $$  \ $$| $$$$| $$| $$  \ $$| $$      | $$  \ $$
 * | $$  | $$| $$$$$$$$| $$ $$ $$| $$  | $$| $$$$$   | $$$$$$$/
 * | $$  | $$| $$__  $$| $$  $$$$| $$  | $$| $$__/   | $$__  $$
 * | $$  | $$| $$  | $$| $$\  $$$| $$  | $$| $$      | $$  \ $$
 * |  $$$$$$/| $$  | $$| $$ \  $$| $$$$$$$/| $$$$$$$$| $$  | $$
 *  \______/ |__/  |__/|__/  \__/|_______/ |________/|__/  |__/
 *
 * Oander_IstyleBase
 *
 * @author  David Belicza <david.belicza@oander.hu>
 * @license Oander Media Kft. (http://www.oander.hu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Block\Form\Register">
        <plugin name="isNewsletterEnabledIntercepted"
                type="Oander\IstyleBase\Plugin\Magento\Customer\Block\Form\Register" />
    </type>

    <preference for="Magento\Checkout\Block\Cart\Crosssell"
                type="Oander\IstyleBase\Block\Cart\Crosssell" />


    <preference for="Magento\CatalogInventory\Model\ResourceModel\Product\StockStatusBaseSelectProcessor"
                type="Oander\IstyleBase\Model\ResourceModel\Product\StockStatusBaseSelectProcessor"/>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="Oander_IstyleBase::magento_catalog_model_product"
                type="Oander\IstyleBase\Plugin\Catalog\Model\Product" />
    </type>

    <preference for="Oander\WarehouseManager\Model\Indexer\WarehouseItem"
                type="Oander\IstyleBase\Model\Indexer\WarehouseItem"/>

    <virtualType name="Magento\Catalog\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="old_price" xsi:type="string">Oander\IstyleBase\Pricing\OldPrice</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Oander\ConfigurableProductAttribute\Magento\Swatches\Block\Product\Renderer\Configurable"
                type="Oander\IstyleBase\Magento\ConfigurableProduct\Block\Product\View\Type\Configurable"/>

    <preference for="Oander\DiscountBadge\Model\DiscountCalculator"
                type="Oander\IstyleBase\DiscountBadge\Model\DiscountCalculator"/>

</config>
