// Print view
.page-print {
  .page-wrapper {
    padding: 20px 0;

    .nav-sections,
    .header-slogan,
    .action {
      display: none;
    }
  }
  .logo {
    display: block;
    float: none;
    text-align: left;

    img {
      margin-bottom: 20px;
    }
  }
}