.block.crosssell {
  .block-title {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-down(md){
  .block.crosssell {
    .block-title {
      font-size: 22px;
      line-height: 30px;
      max-width: 460px;
    }
  }
}

@include media-breakpoint-down(sm){
  .block.crosssell {
    .block-title {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      max-width: 300px;
    }
  }
}