.header-search {

  .block-title {
    display: none;
  }
  .block-content {
    margin-bottom: 0;
  }
  .toggle-search {
    .icon {
      font-size: 16px;
      color: #fff;
    }
  }
  .action.search {
    display: none;
  }
}
.search-autocomplete {
  display: none;
}
.form.minisearch {
  position: relative;
}
.form.search.advanced {
  .fields.range {
    .field {
      &:first-child {
        position: relative;

        .control {
          padding-right: 25px;

          &:after {
            content: ' \2013 ';
            display: inline-block;
            position: absolute;
            right: 0;
            text-align: center;
            top: 6px;
            width: 25px;
          }
        }
      }

      &:last-child {
        position: relative;

        div.mage-error[generated] {
          left: 0;
          position: absolute;
          top: 32px;
        }
      }

      &.with-addon {
        .control {
          padding-right: 45px;
        }
      }
    }
  }
  .group.price {
    .addon {
      .addafter {
        background: none;
        border: 0;
        padding-top: 6px;
        position: absolute;
        right: 20px;
        top: 0;
      }
    }
  }
}
.search.summary {
  margin-bottom: 10px;
}

@include media-breakpoint-down(md) {
  .header-search {
    .toggle-search {
      &.active {
        + .control {
          padding: $grid-gutter-width-base/2;
          position: absolute;
          top: 70px - $grid-gutter-width-base/2; // 70px is header height
          right: -$grid-gutter-width-base/2;
          left: -$grid-gutter-width-base/2;
          z-index: 1000;
          background: #fff;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

          input {
            position: static;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-search {
    .control {
      display: none;
    }
    .actions {
      display: none;
    }
  }
}
@include media-breakpoint-up(xl) {
  .header-search {  }
}
