@import "magento-advanced-checkout/widgets";

.column {
  .block-addbysku {
    .fieldset {
      margin: 0;
      .fields {
        position: relative;
        .field {
          display: inline-block;
          margin-bottom: 10px;
          vertical-align: top;
        }
        .actions-toolbar {
          position: absolute;
          right: 0;
          top: 4px;
        }
      }
    }
    .sku {
      margin-right: -155px;
      padding-right: 160px;
      width: 100%;
    }
    .skus {
      > .label {
        margin-top: 10px;
      }
    }
    .qty {
      .qty {
        @extend .abs-input-qty;
        + .mage-error {
          width: 80px;
        }
      }
    }
    .block-content {
      @extend .abs-add-clearfix-desktop;
      .box {
        @extend .abs-blocks-2columns;
      }
      .actions-toolbar {
        clear: both;

        > .secondary {
          text-align: left;
        }
      }
    }
    .reset {
      margin: 10px 0;
    }
    .note {
      display: block;
      margin: 0 0 20px;
    }
  }
}

.block-cart-failed {
  margin-top: 40px;
  .block-title {
    font-size: headings($heading-h2, font-size);
    strong {
      font-weight: headings($heading-h2, font-weight);
    }
  }
  .actions {
    text-align: center;
    .action {
      margin-bottom: 10px;
    }
  }
}

//
//  Mobile
//  _____________________________________________
@include media-breakpoint-down(xs) {
  .column {
    .block-addbysku {
      .sku {
        margin-right: -85px;
        padding-right: 90px;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________
@include media-breakpoint-up(md) {
  .block-cart-failed {
    .actions {
      text-align: left;
    }
    .actions.primary {
      float: right;
    }
    .block-content {
      @include clearfix;
    }
  }
}
