.block.filter {
  .filter-current {
    padding-bottom: 0;

    .block-subtitle {
      font-weight: $font-weight-semibold;
    }
    .items {
      .item {
        padding-top: 5px;
        padding-bottom: 5px;

        &:not(:last-child) {
          padding-bottom: 0;
        }
      }
    }
    .item {
      font-size: 1rem;
      font-weight: 500;
      color: $gray-darker;
      padding: 12px 0;

      .action {
        float: right;
        padding: 0;
        color: $gray-darker;
        vertical-align: middle;
        font-size: 16px;
        line-height: 16px;

        &:hover {
          color: $brand-primary;
        }
      }
      .label {
        font-size: 0.875rem;
      }
    }
    .filter-label {
      vertical-align: middle;
    }
    .filter-value {
      vertical-align: middle;
      padding-left: 20px;

      > li {
        margin: 5px 0;
        @include clearfix;


      }
    }
  }
  .filter-actions {
    padding-top: 0;

    .action.clear.filter-clear {
      padding: 0;
    }
  }

  .filter-actions,
  .filter-options {
    margin-bottom: 30px;
  }
  > .filter-title,
  .filter-subtitle {
    display: none;
  }
}
.block-subtitle {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: $gray-dark;
}

.filter-options {
  margin: 0;

  .filter-options-content {
    .item {
      margin: 5px 0;

      a {
        display: block;
        color: $gray-darker;

        &:hover {
          color: $gray-dark;
        }
        .filter-count-label {
          color: $gray-darker;
        }
        input[type="checkbox"] {
          vertical-align: middle;
        }
      }
    }
    .dropdown {
      margin-top: 10px;
      color: #555;

      &.closed {
        .less {
          display: none;
        }
      }
      &.opened {
        .more {
          display: none;
        }
      }
      span {
        display: inline-block;
        position: relative;
        text-transform: lowercase;
        color: $gray-dark;

        &:after {
          font-family: $icon-font-family;
          font-size: 6px;
        }
        &.more {
          &:after {
            content: $icon-chevron-down;
          }
        }
        &.less {
          &:after {
            content: $icon-chevron-up;
          }
        }
      }
    }
  }
  .count {
    color: lighten($gray-dark, 29%);

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}
.filter-options-title {
  margin-bottom: 20px;
}
.filter-options-item {
  padding: 20px 0;

  & + .filter-options-item {
    border-top: 1px solid #dcdcdc;
  }
}
.filter-actions {
  .action.clear.filter-clear {
    color: $gray;
    text-decoration: underline;
    font-size: $font-size-sm;

    &:hover {
      color: $brand-primary;
    }
  }
}
.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filtered {
  .items {
    margin: 15px 0;
  }
  .item {
    position: relative;
    padding-left: 22px;
    margin-bottom: 6px;

    .label {
      font-weight: $font-weight-bold;
    }
    .action.remove {
      position: absolute;
      left: -6px;
      top: 0;
    }
  }

  & + .actions {
    margin-bottom: 35px;
  }
}

.block-wishlist {
  .block-title .counter,
  .subtitle {
    display: none;
  }

  .block-title,
  .block-content {
    padding: 18px;
  }
  .block-title {
    padding-bottom: 0;
  }
  .block-content {
    padding-top: 8px;
  }
  .btn {
    display: block;
  }
}
.block-reorder {
  .block-title,
  .block-content {
    padding: 18px;
  }
  .block-title {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  .sidebar.sidebar-main {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    background-color: #fff;
    padding: 20px 20px 0;
    z-index: 1050;
    overflow: auto;
    transition: left cubic-bezier(0.5, 0.25, 0, 1) 0.4s;

    .action.close-sidebar {
      position: absolute;
      padding: 8px;
      right: 8px;
      top: 8px;
      font-size: 20px;
      line-height: 20px;
      font-weight: normal;
    }
    .block:not(.filter):not(.account-nav) {
      display: none;
    }
    html.sidebar-opened & {
      left: 0;
    }

  }
}
@include media-breakpoint-down(sm) {
  .page-with-filter {
    .columns {
      .sidebar-main {
        order: 0;
      }
    }
  }
}
