.form.search.advanced {
  .fields.range {
    .field {
      &:first-child {
        position: relative;

        .control {
          padding-right: 25px;

          &:after {
            content: ' \2013 ';
            display: inline-block;
            position: absolute;
            right: 0;
            text-align: center;
            top: 6px;
            width: 25px;
          }
        }
      }

      &:last-child {
        position: relative;

        div.mage-error[generated] {
          left: 0;
          position: absolute;
          top: 32px;
        }
      }

      &.with-addon {
        .control {
          padding-right: 45px;
        }
      }
    }
  }
  .group.price {
    .addon {
      .addafter {
        background: none;
        border: 0;
        padding-top: 6px;
        position: absolute;
        right: 20px;
        top: 0;
      }
    }
  }
}
.search.summary {
  margin-bottom: 10px;
}