.form-wishlist-items {
  .product-items {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
  }

  .actions-toolbar {
    .btn {
      width: 100%;
      margin-bottom: 15px;
    }

    .action.back {
      width: auto;
      color: $gray-placeholder;
      text-decoration: underline;
    }
  }
}

.product-item.product-item--wishlist {
  border: none;

  .product-item-inner {
    position: relative;

    > .product-item-actions {
      width: 60px;
      float: right;
      text-align: right;
    }
  }

  .product-image-container {
    margin: 0 auto;
  }

  .product-item-actions,
  .box-tocart {
    display: inline-block;
  }

  .box-tocart {
    width: calc(100% - 60px);

    .product-item-actions {
      display: block;
    }

    .action {
      display: block;
      width: 100%;
    }
  }

  .action.delete {
    padding: .75rem .9rem;
  }

  .actions-primary {
    display: block;
  }

  .product-item-name {
    margin-bottom: 10px;

    a {
      color: $gray-darker;
    }
  }

  .comment-box {
    display: none;
  }

  .price-box {
    color: $gray-dark;
  }

  &::before {
    display: none;
  }
}

@include media-breakpoint-only(md) {
  .product-item.product-item--wishlist {
    .price-box {
      padding-top: 15px;
    }
  }
}

@include media-breakpoint-up(md) {
  .form-wishlist-items {
    .actions-toolbar {
      .action.back {
        text-align: left;
      }
    }
  }

  .product-item.product-item--wishlist {
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid $gray-border;

    .product-image-wrapper {
      width: 60px;
    }

    .product-image-container {
      float: left;
      padding: 0;
      margin-right: 20px;
      width: 60px !important; // ಥ_ಥ
    }
  }
}

@include media-breakpoint-up(lg) {
  .product-item.product-item--wishlist {
    position: relative;
    padding-right: 220px;
    min-height: 100px;

    .price-box {
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      font-size: 14px;
    }

    .product-item-inner {
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 220px;
    }
  }
}
