.block {
  &.add.review {
    margin-bottom: 40px;

    > .title {
      font-size: $font-size-h2;
    }

    .legend {
      font-size: $font-size-h3;
      margin: 0 0 20px;
    }

    .field.rating {
      display: table-row;

      .label {
        display: table-cell;
        padding: 5px 0;
        vertical-align: middle;
      }

      .control {
        display: table-cell;
        vertical-align: top;
      }
    }
  }

  &.reviews.list {
    > .title {
      font-size: $font-size-h2;
    }

    .review {
      &.item {
        margin-bottom: 40px;
      }

      &.title {
        font-size: $font-size-h3;
      }
    }
  }
}
.data.table.reviews {
  .rating-summary {
    margin-top: -4px;
  }
}
.customer-review.view {
  margin-bottom: 20px;

  .review.title,
  .ratings-summary,
  .product-details {
    margin-bottom: 20px;
  }
}
.product-reviews-summary {
  display: table;
  margin: 10px 0 12px;

  .products.wrapper.list & {
    margin: 0 auto;
  }

  &.empty {
    margin-left: 0;
  }

  .rating-summary {
    display: table-cell;
    left: -5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
  }

  .reviews-actions {
    display: table-cell;
    line-height: $rating-icon-size;
    vertical-align: middle;

    a {
      margin-right: 5px;
    }
  }
}
.customer-review {
  .product-details {
    @extend .abs-add-clearfix;
    margin-bottom: 40px;
  }
  .product-media {
    float: left;
    margin-right: 3%;
    max-width: 285px;
    width: 30%;
  }
  .review-details {
    .customer-review-rating {
      margin-bottom: 20px;

      .item {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .review-title {
      font-size: $font-size-h4;
      font-weight: $font-weight-semibold;
      margin-bottom: 20px;
      display: none;
    }
    .review-content {
      margin-bottom: 20px;
    }
  }
  .product-reviews-summary {
    .rating-summary,
    .reviews-actions {
      display: block;
    }
  }
}
.rating-summary {
  .rating-label,
  .rating-result {
    display: inline-block;
    vertical-align: middle;
    line-height: $rating-icon-size;
  }
  .rating-result {
    margin-left: 5px;
    position: relative;
    color: $rating-star-color;
    @include rating-icons-generator();

    .rating-value {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      @include rating-icons-generator();

      &:before {
        color: $brand-primary;
      }
    }
    .rating-value-text {
      display: none;
    }
  }
}
.review-control-vote {
  @include rating-iteration();
  @include rating-icons-generator();
  position: relative;
  color: $rating-star-color;
  padding-left: 5px;

  &:before {
    position: absolute;
  }
  > label {
    position: absolute;
    color: $rating-star-color;
    cursor: pointer;

    &:hover {


      &:before {
        opacity: 1;
      }
    }
    &:before {
      position: absolute;
      opacity: 0;
      color: $brand-primary;
      font-family: $icon-font-family;
      font-size: $rating-icon-size;
      line-height: $rating-icon-size;
    }
  }
  > input[type="radio"] {
    &:checked {
      & + label {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
.review-field-ratings {
  .nested {
    display: table;
  }

  .review-field-rating {
    .label,
    .control {
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: top;
    }
  }
}
.review-toolbar {
  border-top: 1px solid $gray-light;
  margin: 0 0 20px;
  text-align: center;

  &:first-child {
    display: none;
  }

  .pages {
    border-bottom: 1px solid $gray-light;
    display: block;
    padding: 20px 0;
    text-align: center;
  }

  .limiter {
    display: none;
  }
}
.review-add {
  .block-title {
    display: none;
  }
}
.review-field-rating {
  .control {
    margin-bottom: 1.2 * 40px;
    margin-top: 10px;
  }
}
.review-list {
  margin-bottom: $grid-gutter-width-base;

  .block-title {
    margin: 1rem 0;

    strong {
      font-size: $font-size-h2;
    }
  }
}
.review-item {
  @include clearfix;
  margin: 0;
  padding: 1.5rem 0 0.5rem;

  &:first-child {
    padding-top: 0;
  }
  & + .review-item {
    border-top: 1px solid $gray-lighter;
  }
}
.review-ratings {
  display: table;
  margin-bottom: 10px;
  max-width: 100%;
}
.review-author {
  display: inline;
}
.review-title {
  font-size: $font-size-h4;
  margin: 0 0 20px;
}
.review-content {
  margin-bottom: 20px;
}
.data.table.table-reviews {
  td {
    vertical-align: middle;
  }
}

@include media-breakpoint-up(sm) {
  .review-ratings {
    max-width: 240px;
  }
  .review-toolbar {
    margin: 0 0 30px;

    .pages {
      padding: 30px 0;
    }
  }
  .fieldset &-legend.legend {
    margin-bottom: 30px;
  }
  .review-item {
    padding: 2rem 0 1rem;
  }
}
@include media-breakpoint-up(md) {
  .product-reviews-summary {
    .products.wrapper.list & {
      margin: 0;
    }
  }
}