.oander-product-icons {
  padding: 20px;

  .col-item {
    margin-bottom: 20px;

    a {
      color: #222;
      transition: color ease 0.3s;

      &:hover {
        color: $brand-primary;
      }
    }
    img {
      width: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .oander-product-icons {
    .col-item {

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .oander-product-icons {
    padding: 20px 10px 0;

    .col-item {
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}