.products.list {
  .pageflipcard-link {
    $margin-bottom: 30px;

    width: 100%;
    height: calc(100% - #{$margin-bottom}); //
    display: block;
    position: relative;
    background: $brand-secondary;
    color: #fff;

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;

      &:before {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        content: $icon-chevron-right;
        font-family: $icon-font-family;
        font-size: 48px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .products.list {
    .pageflipcard-link {
      transition: background ease 0.3s;

      &:hover {
        background: $brand-primary;
      }
      .text {
        &:before {
          margin-bottom: 20px;
        }
      }
    }
  }
}