.price-tooltip {
  position: relative;
  top: 10px;
  left: 10px;
  float: left;

  &:hover {
    .content {
      opacity: 1;
      visibility: visible;
    }
  }

  .icon {
    color: #aaa;
  }

  .content {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 140px;
    padding: 10px 15px;
    transform: translateX(-50%);
    transition: ease 0.3s;
    border-radius: 6px;
    background-color: #f0f0f0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
}
