.block.block-newsletter {
  .action.subscribe {
    width: 100%;
  }
  .newsletter-terms {
    font-size: 12px;
    font-weight: $font-weight-medium;
    color: $gray-darker;

    a {
      color: $gray-darker;
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-down(md) {
  .block.block-newsletter.js-accordion-box {
    &.active {
      .form-newsletter {
        display: block;
      }
    }
    .form-newsletter {
      display: none;
    }
  }
}