.warehouse-stock {
  $size: 10px;

  display: inline-block;
  width: $size;
  height: $size;
  margin: 0 5px;
  border-radius: $size;
  vertical-align: middle;

  &.out-of-stock {
    background-color: $brand-danger;
  }

  &.in-stock {
    background-color: $brand-success;
  }

  &.external-stock {
    background-color: #ffed3e;
  }
}

.stock-status {
  &.out-of-stock {
    color: $brand-danger;
  }

  &.in-stock {
    color: $brand-success;
  }

  &.external-stock {
    color: #ffed3e;
  }
}

.warehouse-info {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  min-height: 300px;
  max-height: 70%;
  padding: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid $gray;
  border-radius: $border-radius;
  background: #fff;
  z-index: 9999;
  backface-visibility: hidden;

  .catalog-product-view  & {
    position: absolute;
    top: calc(100%);
    right: 0;
    left: auto;
    width: 480px;
    transform: none;
  }
}

.warehouse-info-head {
  text-align: right;
}

.warehouse-info-block {
  padding: 20px 0 0;
  border-top: 1px solid $gray-border;

  .media-left {
    .icon {
      font-size: 20px;
    }
  }
}

.warehouse-open-btn {
  color: $gray;
  cursor: pointer;

  &.active {
    position: relative;
    background: $gray;
    color: #fff;

    &::before {
      position: absolute;
      right: 30px;
      bottom: 0;
      left: 30px;
      height: 5px;
      background: $brand-secondary;
      content: '';
    }
  }

  .catalog-product-view & {
    margin: 20px -20px -30px;
    padding: 20px 30px;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.warehouse-close-btn {
  display: inline-block;
  cursor: pointer;
}

.warehouse-stock-table {
  margin: 0;
}

@include media-breakpoint-up(xl) {
  .warehouse-open-btn {
    .catalog-product-view & {
      margin: 20px -30px -30px;
    }
  }
}
