.oander-product-icons {
  .product-icon {
    padding: 1.5rem 0;
    border-top: 1px solid $gray-border;
    color: $gray;

  }

  .product-icon-link {
    transition: color ease .3s;
    color: $gray;

    &:hover {
      color: $brand-primary;
    }
  }

  .product-icon-image {
    width: 20px;
  }
}
