.wonder-widget-usps {
  margin: 20px 0;
  text-align: left;
}

.oander-wonder-widget-basic {
  padding: 0 map_get($grid-gutter-widths, xs)/2;

  .content {
    position: relative;
    margin-bottom: $grid-gutter-width-base;

    &:hover {
      .widget-title,
      .widget-title-link {
        color: $brand-primary;
      }
    }
  }
  .caption {
    padding: $grid-gutter-width-base;
    text-align: center;
  }
  .image-wrapper {
    img {
      width: auto;
      max-width: 100%;
    }
  }
  .image {
    display: none;
  }
  .widget-title {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    transition: color ease 0.3s;

    &,
    .widget-title-link {
      color: #5f5f5f;
    }
  }
  .widget-description {
    color: #8c8c8c;
  }
  .link {
    margin-top: 10px;

    a {
      display: block;
      position: relative;
      padding-right: 40px;
      font-weight: $font-weight-semibold;
    }
  }
}
.oander-wonder-widget-usp {
  width: 100%;

  .row {
    margin: 0;
  }
  .image-wrapper {
    background: none !important;
    padding-right: 15px;
  }
  .content {
    display: table;
    margin: 0;
    padding: 15px;

    .image-wrapper,
    .caption {
      display: table-cell;
      vertical-align: middle;
    }
    .image-wrapper {
      width: 40px; // image 25px (retina)
    }
    .widget-title {
      margin: 0;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;

      &,
      .widget-title-link {
        color: $gray-dark;
      }
      .icon {
        display: none;
      }
    }
  }
  .description,
  .link {
    display: none;
  }
}
.oander-wonder-widget-video {
  .image-wrapper {
    position: relative;
  }
  .content-block {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    pointer-events: none;
  }
  .wonder-widget-video-link {
    display: inline-block;
  }
  .icon-play {
    font-size: 24px;
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .wonder-widget-blocks {
    //margin-left: -$grid-gutter-width-base;
    //margin-right: -$grid-gutter-width-base;
    .oander-wonder-widget-basic {
      padding: 0;
    }
  }

  .oander-wonder-widget-basic {
    .image-wrapper {
      background: none !important;
    }
  }
  .oander-wonder-widget-usp {
    & + .oander-wonder-widget-usp {
      .widget-title {
        position: relative;

        &:before {
          content: '';
          width: 80px;
          height: 1px;
          background: #dcdcdc;
          position: absolute;
          top: -15px;
        }
      }
    }
    .content {
      .widget-title {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .wonder-widget-usps {

    > .row {
      justify-content: space-between;
      flex-wrap: nowrap;

      .oander-wonder-widget-usp {
        display: flex;
        align-items: center;
        position: relative;

        & + .oander-wonder-widget-usp {
          &:before {
            content: '';
            width: 1px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -20px;
            background: #ccc;
          }
        }
      }
    }
  }

  .oander-wonder-widget-usp {
    .content {
      padding: 0 15px;

      .widget-title {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .oander-wonder-widget-basic {
    flex: 0 0 50%;
    max-width: 50%;

    .image-wrapper {
      height: 190px;
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: all ease 0.3s;

      .link-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .wonder-widget-usps {
    margin: 40px 0;
    padding: 0 $grid-gutter-width-base;
  }

  .oander-wonder-widget-basic {
    &:hover {
      .image-wrapper {
        opacity: 0.7;
      }
    }
    .image-wrapper {
      transition: all ease 0.3s;
    }
  }
  .oander-wonder-widget-video {
    &:hover {
      img {
        transform: scale(1.15) rotate(2deg);
        opacity: 0.7;
      }
    }

    .content-block {
      font-size: 24px;
    }
    .icon-play {
      font-size: 36px;
    }
    .image-wrapper {
      overflow: hidden;
    }
    img {
      transition: all ease 0.4s;
      -webkit-backface-visibility: hidden;
    }
  }
  .oander-wonder-widget-usp {
    .content {
      padding: 0 30px;

      .widget-title {
        font-size: $font-size-base;
        line-height: 22px;
      }
    }
  }
}