.locations-index-index,
.locations-shop-view {
  .main {
    > h1 {
      margin-bottom: $grid-gutter-width-base;
    }
  }
}

.locations-list {
  background: #fff;
  margin: $grid-gutter-width-base 0;
  padding: 0 $grid-gutter-width-base/2;

  .item {
    padding: $grid-gutter-width-base/2 0;

    & + .item {
      border-top: 1px solid $gray-lighter;
    }
  }
  .list-top {
    .list-inline-item {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .list-bottom {
    margin-bottom: 0;
  }
  .location-image {

  }
  .location-title {
    margin-bottom: 5px;

    > a {
      &:not(:hover) {
        color: $gray-dark;
      }
    }
  }
  .location-tag {
    padding: 5px 20px;
    border: 1px solid $brand-primary;
  }
  .location-address,
  .location-phone {
    .icon {
      display: inline-block;
      margin-top: -3px;
      vertical-align: middle;
      font-size: 20px;
    }
  }
  .location-address {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .location-phone {

  }
  .btn.btn-secondary {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.location-view {
  .location-head {
    margin-top: $grid-gutter-width-base;
    margin-bottom: $grid-gutter-width-base;
  }
  .location-head-info {
    .content {
      background: #fff;
      padding: 20px;

      > table {
        width: 100%;

        td {
          padding-top: 10px;
          padding-bottom: 10px;
          vertical-align: top;

          &.cell-icon,
          &.cell-empty {
            width: 40px;
            padding-right: 10px;
          }
          .icon {
            font-size: 20px;
          }
        }
      }
    }
  }
  .description {
    margin: $grid-gutter-width-base 0;
    padding: $grid-gutter-width-base;
    background: #fff;
    border-top: 2px solid $brand-primary;

    > *:last-child {
      margin-bottom: 0;
    }
  }
  .map-title {
    margin-bottom: $grid-gutter-width-base;
  }
}

@include media-breakpoint-down(md) {
  .locations-list {
    .col-middle {
      padding-right: 30px;

      .more-link {
        color: $gray-light;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        .icon {
          font-size: 20px;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .locations-list {
    .list-top {
      .list-inline-item {
        display: block;

        & + .list-inline-item {
          margin-top: 10px;
        }
      }
    }
    .list-bottom {
      margin-bottom: 0;
      font-size: 12px;

      .list-inline-item {
        margin-bottom: 10px;
      }
    }
    .location-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

  }
}

@include media-breakpoint-up(md) {
  .locations-list {
    padding: 10px $grid-gutter-width-base;

    .item {
      margin-left: -10px;
      margin-right: -10px;
    }
    .col-image {
      padding-left: 0;
    }
  }
  .location-view {
    .location-view-top.has-button {
      h1 {
        display: inline-block;
        float: left;
      }
      .custom-button {
        float: right;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .location-view {
    .location-head {
      padding-right: map_get($grid-gutter-widths, lg)/2;
    }
    .location-head-image {
      order: 2;
      background: #fff;
      padding-right: 0;

      .img-box {
        height: 330px;
        background: {
          size: cover;
          position: center center;
        }
      }
    }
    .location-head-info {
      padding-right: 0;

      .content {
        height: 100%;
      }
    }
  }
}