.category-view-inner {
  position: relative;
}
.category-view-inner.has-img {
  .category-image {
    img {
      display: none;
    }
  }
  .category-description {
    display: none;
    margin: 0;
  }
}
.list.product-items {
  margin: 0;

  .product-item-info {
    .swatch-option {
      $size: 18px;

      width: $size;
      height: $size;

      &.text {
        line-height: $size;
        padding: 0 $size/2;
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .catalogsearch-result-index {
    .page-title {
      font-size: 32px;
    }
  }
  .category-view-inner.has-img {
    position: relative;
    height: 200px;

    .page-title-wrapper {
      top: 23px;
      left: 27px;

      .page-title {
        font-size: 42px;
      }
    }
    .category-image {
      width: 100%;

      img {
        width: 66%;
      }
    }
    .category-description {
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 90px;
      left: 27px;
      width: 200px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .catalogsearch-result-index {
    .page-title {
      font-size: 32px;
    }
  }
  .category-view-inner {
    .page-title {
      font-size: 42px;
    }
  }
}
@include media-breakpoint-up(xl) {

}

