.product-item {
  .price-box {
    display: flex;
    width: 100%;
    margin-bottom: 0.75rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: $brand-secondary;

    .minimal-price {
      margin: 0;
    }
    .old-price {
      font-weight: 400;
      font-size: 13px;
    }
  }
}