.product-item {
  .price-box {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: $brand-secondary;

    .old-price {
      font-weight: 400;
      font-size: 13px;
    }
  }
}