.products-grid {
  .product-item {
    position: relative;
    padding-top: $grid-gutter-width-base/2;
    padding-bottom: $grid-gutter-width-base/2;
    border: 1px solid #dcdcdc;
    margin: -1px 0 0 -1px;

    &:before {
      content: '';
      pointer-events: none;
      position: absolute;
      opacity: 0;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      border: 1px solid $brand-primary;
      z-index: 100;
      transition: opacity ease 0.3s;
    }
  }
  .product-image-wrapper {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
  .product-image-container {
    padding: 20px;
  }
  .product-item-name {
    display: block;
    color: $gray-darker;
  }
  .actions-primary {
    display: none;
  }
  .warehouse-manager {
    display: flex;
    margin: 10px 0 0;
    justify-content: space-between;
  }
}

@include media-breakpoint-up(md) {
  .products-grid {
    .product-item {
      padding: 15px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .products-grid {
    .product-item {
      padding: $grid-gutter-width-base;

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}