.toolbar {
  .sorter-label,
  .limiter .label {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.toolbar-top {
  font-size: $font-size-sm;

  .pages,
  .field.limiter {
    display: none;
  }
}
.toolbar-bottom {
  margin-top: 20px;

  .toolbar {
    margin-bottom: 25px;
  }
  .sidebar-collapse-trigger,
  .toolbar-amount,
  .toolbar-sorter {
    display: none;
  }
}
.limiter-options,
.sorter-options {
  width: auto;
  background: transparent;
  margin-right: 10px;
  border-color: $gray-darker;
  border-radius: $border-radius;
}
.sorter-action {
  &:not(:hover) {
    color: $gray-darker;
  }
}

@include media-breakpoint-down(sm) {
  .toolbar {
    .sidebar-collapse-trigger {
      width: 100%;
    }
  }
  .toolbar-top {
    padding: 20px;
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
    border-radius: 4px;
  }
  .toolbar-bottom {
    margin-top: 20px;

    .pages,
    .items {
      display: block;
      width: 100%;
      text-align: center;
    }

    .pages-item-next {
      float: right;
    }
    .pages-item-previous {
      float: left;
    }
  }
}

@include media-breakpoint-up(md) {
  .toolbar-top {
    .toolbar-amount {
      margin: 0 20px 0 0;
      padding: 0 20px;
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 26px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #dcdcdc;
      }
    }
  }
  .toolbar-bottom {
    .toolbar {
      justify-content: space-between;
    }
    .toolbar-bottom-flex {
      width: 100%;
    }
  }
  .toolbar-products {
    align-items: center;
  }
}
@include media-breakpoint-up(lg) {
}
