<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <oander_apple_services>
            <music>
                <enabled>0</enabled>
                <api_endpoint></api_endpoint>
                <unique_id></unique_id>
                <secret_key></secret_key>
                <cookie_lifetime>60</cookie_lifetime>
                <google_invisible_key></google_invisible_key>
                <google_invisible_secret_key></google_invisible_secret_key>
            </music>
            <icloud>
                <enabled>0</enabled>
                <api_endpoint></api_endpoint>
                <unique_id></unique_id>
                <secret_key></secret_key>
                <cookie_lifetime>60</cookie_lifetime>
                <google_invisible_key></google_invisible_key>
                <google_invisible_secret_key></google_invisible_secret_key>
            </icloud>
            <tv>
                <enabled>0</enabled>
                <api_endpoint></api_endpoint>
                <unique_id></unique_id>
                <secret_key></secret_key>
                <cookie_lifetime>60</cookie_lifetime>
                <google_invisible_key></google_invisible_key>
                <google_invisible_secret_key></google_invisible_secret_key>
            </tv>
            <arcade>
                <enabled>0</enabled>
                <api_endpoint></api_endpoint>
                <unique_id></unique_id>
                <secret_key></secret_key>
                <cookie_lifetime>60</cookie_lifetime>
                <google_invisible_key></google_invisible_key>
                <google_invisible_secret_key></google_invisible_secret_key>
            </arcade>
        </oander_apple_services>
    </default>
</config>
