<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<firstdataconnectcw>
			<information>
				<version>3.0.353</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operation_mode><![CDATA[test]]></operation_mode>
				<store_id/>
				<connect_shared_secret/>
				<order_id_schema><![CDATA[{id}]]></order_id_schema>
				<three_d_secure_behavior><![CDATA[dirserver,authserver,attempted]]></three_d_secure_behavior>
				<force_non_ssl><![CDATA[false]]></force_non_ssl>
				<page_mobile_detection><![CDATA[responsive]]></page_mobile_detection>
				<test_store_id><![CDATA[12022223959]]></test_store_id>
				<test_connect_shared_secret><![CDATA[pE9kTczZT9]]></test_connect_shared_secret>
			</general>
		</firstdataconnectcw>
		<payment>
			<firstdataconnectcw_generic>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\Generic</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Generic]]></title>
				<description><![CDATA[Pay with Generic]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</firstdataconnectcw_generic><firstdataconnectcw_creditcard>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<credit_card_brands><![CDATA[visa,mastercard,americanexpress,laser,maestrouk,maestro]]></credit_card_brands>
				<brand_selection><![CDATA[active]]></brand_selection>
				<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_creditcard><firstdataconnectcw_mastercard>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\MasterCard</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_mastercard><firstdataconnectcw_visa>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\Visa</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_visa><firstdataconnectcw_americanexpress>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\AmericanExpress</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_americanexpress><firstdataconnectcw_maestro>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\Maestro</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Maestro]]></title>
				<description><![CDATA[Pay with Maestro]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_maestro><firstdataconnectcw_maestrouk>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\MaestroUK</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Maestro UK]]></title>
				<description><![CDATA[Pay with Maestro UK]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<solvency_service><![CDATA[deactivated]]></solvency_service>
				<threeD_active><![CDATA[active]]></threeD_active>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</firstdataconnectcw_maestrouk><firstdataconnectcw_masterpass>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\MasterPass</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[MasterPass]]></title>
				<description><![CDATA[Pay with MasterPass]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</firstdataconnectcw_masterpass><firstdataconnectcw_bcmc>
				<active>0</active>
				<model>Customweb\FirstDataConnectCw\Model\Payment\Method\Bcmc</model>
				<payment_action>initialize</payment_action>
				<group>firstdataconnectcw</group>
				<title><![CDATA[Bancontact]]></title>
				<description><![CDATA[Pay with Bancontact]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<solvency_service><![CDATA[deactivated]]></solvency_service>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</firstdataconnectcw_bcmc>
		</payment>
	</default>
</config>