<?xml version="1.0"?>
<!--
/**
 * Oander_FrameworkCollectionWorkaround
 *
 * @author  Tamas Vegvari <tamas.vegvari@oander.hu>
 * @license Oander Media Kft. (http://www.oander.hu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Data\Collection">
        <plugin name="FrameworkCollectionWorkaround::FrameworkCollection"
                type="Oander\FrameworkCollectionWorkaround\Magento\Framework\Data\Collection"
                sortOrder="1"/>
    </type>

</config>