<?xml version="1.0"?>
<!--
/**
 * Oander_FrameworkCollectionWorkaround
 *
 * @author  Tamas Vegvari <tamas.vegvari@oander.hu>
 * @license Oander Media Kft. (http://www.oander.hu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="Oander_FrameworkCollectionWorkaround" setup_version="0.0.2"/>

</config>
