// Toggle blocks in mobile & tablet (footer)

@include media-breakpoint-down(md) {
  .js-accordion-box {
    &.active {
      h2 {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      ul {
        display: block;
      }
    }

    h2 {
      position: relative;
      margin-bottom: 20px;
      padding: 0 40px 20px 0;
      border-bottom: 1px solid $gray-darker;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-family: $icon-font-family;
        font-size: 12px;
        content: $icon-chevron-down;
      }
    }
  }
}
