.breadcrumbs {
  margin-bottom: $spacer;
  .items {
    font-size: $font-size-sm;
    color: $gray;

    & > li {
      display: inline-block;
      vertical-align: top;
    }
  }
  .item {
    margin: 0;
  }
  a {
    color: #8c8c8c;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $gray-darker;
    }
    &:after {
      display: inline-block;
      content: '>';
      padding: 0 6px;
    }
  }
  strong {
    font-weight: 400;
  }
}
