$semitransparent-gray: rgba(0, 0, 0, .5);
$semitransparent-lightgray: rgba(0, 0, 0, .1);
$red-color: rgb(233, 32, 63);

.content-accessories {
  .slider-container {
    position: relative;
    margin: 1rem 2rem 2rem;

    a {
      color: #111;
    }

    .price-box {
      display: block;

      .special-price,
      .old-price {
        display: block;
      }
    }

    .product-item-name {
      font-weight: 500;
    }

    .slick-dots {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .slick-dots li {
      display: inline-block;

      button {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        background-color: $gray-border;
        color: rgba(0, 0, 0, 0);
        width: 40px;
        height: 2px;
        outline: none;
      }

      &.slick-active {
        button {
          background-color: #0a0a0a;
        }
      }
    }

    &::after {
      clear: both;
    }
  }

  .sidebar-background {
    border-radius: .25rem;

    ol {
      margin: 1.5rem 0;
    }

    .block-title {
      h2 {
        margin-top: .5rem;
      }
    }
  }

  .row {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .block-title h2 {
    color: $semitransparent-gray;
  }

  .product-box {
    height: 240px;
    overflow: hidden;

    &.full-size {
      .description {
        width: 24%;
      }

      .media {
        width: 76%;
      }
    }

    .description {
      position: relative;
      width: 50%;
      height: inherit;
      padding: 1rem;
      float: left;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-radius: .25rem 0 0 .25rem;
      border-color: $semitransparent-lightgray;

      .title {
        color: $semitransparent-gray;
      }

      .price {
        position: absolute;
        bottom: 5rem;
        font-weight: 500;
      }

      .btn-red {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
        padding: .75rem 0;
        background-color: $red-color;
        color: #fff;
        font-size: inherit;
        font-weight: 400;
      }
    }

    .media {
      position: relative;
      width: 50%;
      height: inherit;
      float: right;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-radius: 0 .25rem .25rem 0;
      border-color: $semitransparent-lightgray;
      overflow: hidden;

      img {
        position: absolute;
        right: 0;
        max-width: none;
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .content-accessories {
    .slider-container {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .content-accessories {
    .product-box {
      font-size: .75rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .content-accessories {
    .product-box {
      font-size: .85rem;
    }

    .slider-container {
      display: block;
      margin: 20px 0;

      .slick-list {
        padding: 1px;
      }

      .product-item {
        margin: 0 1px 0 -1px;
        padding: 15px;
        box-shadow: 1px 0 0 0 $gray-border,
        0 1px 0 0 $gray-border,
        1px 1px 0 0 $gray-border,
        1px 0 0 0 $gray-border inset,
        0 1px 0 0 $gray-border inset;

        .product-image-wrapper,
        .product-item-name {
          margin-bottom: 10px;
        }

        .product-item-details p {
          font-size: 12px;
        }
      }

      .slick-dots li {
        button {
          width: 40px;
        }
      }
      
      .slick-arrow {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .content-accessories {
    .product-box {
      font-size: 1rem;
    }

    .slider-container {
      margin: 20px 60px;

      .slick-dots li {
        button {
          width: 80px;
        }
      }

      .slick-arrow {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $gray-darker;
        border-radius: 100%;
        transition: background .35s ease;
        cursor: pointer;

        i {
          line-height: 40px;
          position: relative;
        }

        &.slick-prev {
          left: -60px;

          i {
            left: -1px;
          }
        }

        &.slick-next {
          right: -60px;

          i {
            right: -1px;
          }
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .content-accessories {
    .product-box {
      font-size: 1.15rem;
    }
  }
}
