//
//  List default styles reset
//  ---------------------------------------------

.abs-reset-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0;
  }
}

//
//  Product options list
//  ---------------------------------------------

@mixin abs-product-options-list() {
  dt {
    clear: left;
    float: left;
    margin: 0 10px 5px 0;

    &:after {
      content: ': ';
    }
  }

  dd {
    float: left;
    margin: 0 0 5px;
  }
}

.abs-product-options-list {
  @include abs-product-options-list();
}

@include media-breakpoint-up(md) {
  .abs-product-options-list-desktop {
    @include abs-product-options-list();
  }
}

//
//  Button reset width: floats: margins
//  ---------------------------------------------

.abs-button-responsive {
  width: 100%;
}

@include media-breakpoint-up(md) {
  .abs-button-desktop {
    width: auto;
  }
}

@include media-breakpoint-down(sm) {
  .abs-button-responsive-smaller {
    width: 100%;
  }
}

//
//  Blocks in 2 columns
//  ---------------------------------------------

@mixin abs-blocks-2columns() {
  width: 48.8%;

  &:nth-child(odd) {
    clear: left;
    float: left;
  }

  &:nth-child(even) {
    float: right;
  }
}

@include media-breakpoint-up(md) {
  .abs-blocks-2columns {
    @include abs-blocks-2columns();
  }
}

@include media-breakpoint-up(sm) {
  .abs-blocks-2columns-s {
    @include abs-blocks-2columns();
  }
}

//
//  Reset image alignment in container
//  ---------------------------------------------

.abs-reset-image-wrapper {
  height: auto;
  padding: 0 !important;

  .product-image-photo {
    position: static;
  }
}

//
//  Adaptive images
//  ---------------------------------------------

.abs-adaptive-images {
  display: block;
  height: auto;
  max-width: 100%;
}

.abs-adaptive-images-centered {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

//
//  Title for login blocks
//  ---------------------------------------------

.abs-login-block-title {
  strong {
    font-weight: 500;
  }

  font-size: 18px;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 15px;
  padding-bottom: 12px;
}

//
//  Abstract block title
//  ---------------------------------------------

.abs-block-title {
  margin-bottom: 15px;
}

//
//  Account blocks
//  ---------------------------------------------

.abs-account-blocks {
  .block-title {
    & > .action {
      margin-left: 15px;
    }
  }

  .box-title {
    display: inline-block;
    margin: 0 0 5px;

    & > span {
      margin-bottom: $headings-margin-bottom;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      color: $headings-color;
      font-size: $font-size-h4;
    }

    & > .action {
      font-weight: 400;
      margin-left: 10px;
    }
  }

  .block-content {
    p:last-child {
      margin-bottom: 0;
    }

    .box {
      margin-bottom: 20px;
    }
  }
}

.abs-input-qty {
  text-align: center;
  width: 60px;
}

//
//  Marging for blocks & widgets
//  ---------------------------------------------

.abs-margin-for-blocks-and-widgets {
  margin-bottom: 40px;
}

//
//  Remove button for blocks
//  ---------------------------------------------

.abs-remove-button-for-blocks {
  @include lib-icon-font(
      $icon-remove,
  $_icon-font-size: 26px,
  $_icon-font-line-height: 15px,
  $_icon-font-text-hide: true,
  $_icon-font-color: #303030,
  $_icon-font-color-hover: #303030,
  $_icon-font-color-active: #303030
  );
}

//
//  Reset left margin
//  ---------------------------------------------

@mixin abs-reset-left-margin() {
  margin-left: 0;
}

.abs-reset-left-margin {
  @include abs-reset-left-margin();
}

@include media-breakpoint-up(md) {
  .abs-reset-left-margin-desktop {
    @include abs-reset-left-margin();
  }
}

@include media-breakpoint-up(sm) {
  .abs-reset-left-margin-desktop-s {
    @include abs-reset-left-margin();
  }
}

//
//  Action with icon remove with text
//  ---------------------------------------------

.abs-action-remove {
  @extend .abs-action-button-as-link;
  left: 10px;
  margin-left: 70%;
  position: absolute;
  top: 31px;
  width: auto;
}

//
//  Add Recipient
//  ---------------------------------------------

.abs-add-fields {
  .fieldset {
    margin-bottom: 50px;

    .field {
      &:not(.choice) {
        .control {
          width: 70%;
        }
      }
    }

    .actions-toolbar {
      &:not(:first-child) {
        @extend .abs-add-clearfix;

        & > .secondary {
          .action {
            &.add {
              margin-top: $grid-gutter-width-base;
            }
          }

          float: left;
        }
      }
    }

    .fields {
      .actions-toolbar {
        margin: 0;
      }
    }
  }

  .message {
    &.notice {
      margin: $grid-gutter-width-base 0 0;
    }
  }

  .additional {
    margin-top: 55px;
    position: relative;
  }

  .action {
    &.remove {
      @extend .abs-action-remove;
    }
  }
}

//
//  Add Recipient for desktop
//  ---------------------------------------------

@include media-breakpoint-up(md) {
  .abs-add-fields-desktop {
    .fieldset {
      .field {
        &:not(.choice) {
          .control {
            width: 50%;
          }
        }
      }
    }
  }
}

//
//  Margin for forms
//  ---------------------------------------------

//
//  Visibility hidden / show visibility hidden
//  ---------------------------------------------

.abs-hidden {
  @include lib-visibility-hidden();
}

//
//  Visually hidden / show visually hidden
//  ---------------------------------------------

.abs-visually-hidden {
  @include lib-visually-hidden();
}

@include media-breakpoint-down(xs) {
  .abs-visually-hidden-mobile {
    @include lib-visually-hidden();
  }
}

@include media-breakpoint-down(sm) {
  .abs-visually-hidden-mobile-m {
    @include lib-visually-hidden();
  }
}

@include media-breakpoint-up(sm) {
  .abs-visually-hidden-desktop-s {
    @include lib-visually-hidden();
  }
}

@include media-breakpoint-up(md) {
  .abs-visually-hidden-desktop {
    @include lib-visually-hidden();
  }
}

//
//  Visually hidden reset
//  ---------------------------------------------

.abs-visually-hidden-reset {
  @include lib-visually-hidden-reset();
}

//
//  Clearfix
//  ---------------------------------------------

.abs-add-clearfix {
  @include clearfix;
}

@include media-breakpoint-up(md) {
  .abs-add-clearfix-desktop {
    @include clearfix;
  }
}

@include media-breakpoint-up(sm) {
  .abs-add-clearfix-desktop-s {
    @include clearfix;
  }
}

@include media-breakpoint-down(xs) {
  .abs-add-clearfix-mobile {
    @include clearfix;
  }
}

@include media-breakpoint-down(sm) {
  .abs-add-clearfix-mobile-m {
    @include clearfix;
  }
}

//
//  Revert field type
//  ---------------------------------------------

@include media-breakpoint-up(md) {
  .abs-revert-field-type-desktop {
    .fieldset {
      & > .field,
      .fields > .field {
        @include lib-form-field-type-revert($_type: block);

        &:not(:first-child):last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

//
//  Settings icons
//  ---------------------------------------------

.abs-navigation-icon {
  @include lib-icon-font(
  $_icon-font-content: $icon-chevron-down,
  $_icon-font-size: 34px,
  $_icon-font-line-height: 1.2,
  $_icon-font-position: after,
  $_icon-font-display: block
  );

  &:after {
    position: absolute;
    right: 5px;
    top: 0;
  }
}

//
//  Split button
//  ---------------------------------------------

.abs-split-button {
  @include lib-dropdown-split(
  $_options-selector: '.items',
  $_dropdown-split-button-border-radius-fix: true
  );
  vertical-align: middle;
}

.abs-actions-addto-gridlist {
  @include lib-icon-font(
  $_icon-font-content: inherit,
  $_icon-font-size: 29px,
  $_icon-font-color: $gray-dark,
  $_icon-font-color-hover: $link-hover-color,
  $_icon-font-text-hide: true,
  $_icon-font-vertical-align: middle,
  $_icon-font-line-height: 24px
  );
}

//
//  Button as a link
//  ---------------------------------------------

.abs-action-button-as-link {
  @include lib-button-as-link();
  border-radius: 0;
  font-size: inherit;
  font-weight: $font-weight-normal;

  &:active,
  &:not(:focus) {
    box-shadow: none;
  }
}

//
//  Box-tocart block
//  ---------------------------------------------

.abs-box-tocart {
  margin: 10px 0;
}

//
//  Excl/Incl tax
//  ---------------------------------------------

.abs-adjustment-incl-excl-tax {
  .price-including-tax,
  .price-excluding-tax,
  .weee {
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
  }

  .price-including-tax + .price-excluding-tax {
    display: inline-block;
    font-size: 11px;

    &:before {
      content: '(' attr(data-label) ': ';
    }

    &:after {
      content: ')';
    }
  }
}

//
//  Cart tax total
//  ---------------------------------------------

.abs-tax-total {
  cursor: pointer;
  padding-right: 12px;
  position: relative;
  @include lib-icon-font(
      $icon-chevron-down,
  $_icon-font-size: 26px,
  $_icon-font-line-height: 10px,
  $_icon-font-margin: 3px 0 0 0,
  $_icon-font-position: after
  );

  &:after {
    position: absolute;
    right: -10px;
    top: 3px;
  }

  &-expanded {
    @include lib-icon-font-symbol(
    $_icon-font-content: $icon-chevron-up,
    $_icon-font-position: after
    );
  }
}

.abs-tax-total-expanded {
  @include lib-icon-font-symbol(
  $_icon-font-content: $icon-chevron-up,
  $_icon-font-position: after
  );
}

//
//  Checkout shipping methods title
//  ---------------------------------------------

.abs-methods-shipping-title {
  font-size: 14px;
  font-weight: $font-weight-bold;
  margin: 0 0 15px;
}

//
//  Checkout order review price
//  ---------------------------------------------

.abs-checkout-cart-price {
  display: auto;
}

//
//  Checkout order product name
//  ---------------------------------------------

.abs-checkout-product-name {
  display: auto;
}

//
//  Checkout order review
//  ---------------------------------------------

@include media-breakpoint-down(xs) {
  .abs-checkout-order-review {
    tbody tr {
      &:not(:last-child) {
        border-bottom: 1px solid $table-border-color;
      }

      @extend .abs-add-clearfix-mobile;

      .col {
        &.item {
          &:before {
            display: none;
          }
        }

        &.qty,
        &.price,
        &.subtotal {
          float: left;
          text-align: center;
          white-space: nowrap;
          width: 33%;

          &:before {
            content: attr(data-th) ':';
            display: block;
            font-weight: $font-weight-bold;
            padding-bottom: 10px;
          }
        }
      }

      .product-item-name {
        margin: 0;
      }
    }
  }
}

//
//  Dropdown items - create new
//  ---------------------------------------------

.abs-dropdown-items-new {
  .items .item:last-child {
    &:hover {
      background: $gray-lighter;
    }
  }

  .action.new {
    &:before {
      margin-left: -17px;
      margin-right: 5px;
    }
  }
}

//
//  Abstract toggle title block
//  ---------------------------------------------

@include media-breakpoint-down(sm) {
  .abs-toggling-title-mobile {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;

    @include lib-icon-font(
    $_icon-font-content: $icon-chevron-down,
    $_icon-font-size: 28px,
    $_icon-font-text-hide: false,
    $_icon-font-position: after,
    $_icon-font-display: block
    );

    &:after {
      position: absolute;
      right: 10px;
      top: 0;
    }

    &.active {
      @include lib-icon-font-symbol(
      $_icon-font-content: $icon-chevron-up,
      $_icon-font-position: after
      );
    }
  }
}

//
//  Abstract no display
//  ---------------------------------------------

.abs-no-display {
  display: none;
}

@include media-breakpoint-down(xs) {
  .abs-no-display-s {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .abs-no-display-desktop {
    display: none;
  }
}

//
//  Status
//  ---------------------------------------------

.abs-status {
  display: inline-block;
  margin-bottom: 20px;
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@include media-breakpoint-down(sm) {
  .abs-pager-toolbar-mobile {
    .toolbar-amount,
    .limiter,
    .pages {
      float: none;
      margin-bottom: $grid-gutter-width-base;
    }
  }
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@include media-breakpoint-down(xs) {
  .abs-pager-toolbar-mobile-s {
    .toolbar-amount,
    .limiter,
    .pages {
      margin-bottom: $grid-gutter-width-base;
    }
  }
}

//
//  Pager toolbar for non-catalog pages desktop
//  ---------------------------------------------

@include media-breakpoint-up(md) {
  .abs-pager-toolbar {
    @extend .abs-add-clearfix-desktop;
    margin-bottom: 20px;
    position: relative;
    .limiter {
      float: right;
      position: relative;
      z-index: 1;
    }

    .toolbar-amount {
      float: left;
      line-height: normal;
      padding: 7px 0 0;
      position: relative;
      z-index: 1;
    }

    .pages {
      position: absolute;
      width: 100%;
      z-index: 0;
    }
  }
}

//
//  Items counter in blocks
//  ---------------------------------------------

.abs-block-items-counter {
  color: lighten($gray-dark, 29%);
  font-size: 12px;
  white-space: nowrap;
}

@include media-breakpoint-down(sm) {
  .abs-shopping-cart-items-mobile {
    .actions {
      text-align: center;
    }

    .action {
      &.update,
      &.continue,
      &.clear {
        margin: 0 auto 10px;
      }

      &.update,
      &.clear {
        display: block;
      }
    }
  }
}

//
//  Form Field Date
//  ---------------------------------------------

.abs-field-date {
  .control {
    position: relative;
  }

  input {
    @extend .abs-field-date-input;
  }
}

//
//  Form Field Date Input
//  ---------------------------------------------

.abs-field-date-input {
  margin-right: 10px;
  width: calc(100% - (#{$icon-calendar__font-size} + #{10px}));
}

//
//  Form Field Tooltip
//  ---------------------------------------------

.abs-field-tooltip {
  position: relative;

  input {
    margin-right: 10px;
    width: calc(100% - (#{$checkout-tooltip-icon__font-size} + #{10px} + #{5px}));
  }
}

//
//  Checkout Tooltip Content (position: top)
//  ---------------------------------------------

@mixin abs-checkout-tooltip-content-position-top() {
  right: $checkout-tooltip-content-mobile__right;
  top: $checkout-tooltip-content-mobile__top;
  left: auto;

  &:before,
  &:after {
    @include lib-arrow(
    $_position: top,
    $_size: $checkout-tooltip-icon-arrow__font-size,
    $_color: $checkout-tooltip-content__background-color
    );
    margin-top: $checkout-tooltip-icon-arrow__left;
    right: 10px;
    left: auto;
    top: 0;
  }

  &:before {
    border-bottom-color: $checkout-tooltip-content__border-color;
  }

  &:after {
    border-bottom-color: $checkout-tooltip-content__background-color;
    top: 1px;
  }
}

.abs-checkout-tooltip-content-position-top {
  @include abs-checkout-tooltip-content-position-top();
}

@include media-breakpoint-down(sm) {
  .abs-checkout-tooltip-content-position-top-mobile {
    @include abs-checkout-tooltip-content-position-top();
  }
}

//
//  Shopping cart and payment discount codes block
//  ---------------------------------------------

.abs-discount-block {
  & > .title {
    border-top: 1px solid $gray-lighter;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    @include lib-icon-font(
    $_icon-font-content: $icon-chevron-down,
    $_icon-font-size: 30px,
    $_icon-font-position: after,
    $_icon-font-display: block
    );
    margin-bottom: 0;
    overflow: hidden;
    padding: 7px $grid-gutter-width-base 7px 5px;
    position: relative;

    &:after {
      position: absolute;
      right: -5px;
      top: -5px;
    }

    strong {
      .column.main & {
        font-size: 18px;
        font-weight: $font-weight-normal;
      }
    }
  }

  & > .content {
    display: none;
  }

  &.active {
    & > .title {
      @include lib-icon-font-symbol(
      $_icon-font-content: $icon-chevron-left,
      $_icon-font-position: after
      );
    }

    & > .content {
      display: block;
    }
  }
}
