select {
  @extend .form-control;
}
textarea {
  font-family: $font-family-base;
}
.mage-error {
  color: $brand-danger;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}