.product-image-container {
  &,
  .product-image-photo {
    max-width: 100%;
    height: auto;
  }
}

.product-gallery {
  $gallery-size: 430px;
  position: relative;

  &.loading {
    .product-slider {
      height: $gallery-size;
    }

    .loader {
      display: block;
    }
  }

  .product-slider {
    margin-bottom: 20px;

    .image-box {
      display: block;
      position: relative;
      width: 100%;
      height: $gallery-size;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .product-carousel {
    padding: 0 30px;

    .item {
      padding-bottom: 5px;
      text-align: center;
      cursor: pointer;

      &::after {
        display: block;
        width: 40px;
        max-width: 100%;
        margin: 10px auto 0;
        transition: border ease .3s;
        border-bottom: 2px solid transparent;
        content: '';
      }

      img {
        display: inline-block;
      }
    }

    .slick-current {
      &::after {
        border-color: #000;
      }
    }

    .slick-arrow {
      width: 34px;
      height: 34px;

      .icon {
        font-size: 14px;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 90;

    &.slick-prev {
      left: 0;
      padding-right: 2px;
    }

    &.slick-next {
      right: 0;
      padding-left: 2px;
    }

    .icon {
      color: $gray;
      font-size: 20px;
    }
  }

  .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@include media-breakpoint-up(md) {
  .product-gallery {
    .product-carousel {
      padding: 0 50px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .product-gallery {
    .product-slider {
      .slick-arrow {
        $size: 50px;

        width: $size;
        height: $size;
        border-radius: $size;

        .icon {
          line-height: $size;
        }
      }
    }

    .product-carousel {
      .slick-arrow {
        $size: 40px;

        width: $size;
        height: $size;
        border-radius: $size;

        .icon {
          font-size: 18px;
          line-height: $size;
        }
      }
    }

    .slick-arrow {
      transition: ease .3s;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
