.page-title {
  margin: 0;
}
.block-title {
  margin: 2rem 0;
}

@include media-breakpoint-down(sm) {
  .page-title {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: $font-size-lg-h1;
  }
  h2 {
    font-size: $font-size-lg-h2;
  }
  h3 {
    font-size: $font-size-lg-h3;
  }
}
