.pages {
  .items {
    display: inline-block;
    font-size: 0;
  }

  .item {
    display: inline-block;
    line-height: 1rem;
    margin: 0 5px;
    font-size: 1rem;
  }
  .label {
    display: none;
  }
  .action,
  .page {
    display: block;
    width: 38px;
    margin: 0;
    padding: $btn-padding-y 0;
    transition: all .35s linear;
    border: 1px solid $gray-border;
    border-radius: $border-radius;
    line-height: 1rem;
    text-align: center;
    color: #000;

    &:hover,
    &:active {
      text-decoration: none;
      border-color: $gray-light;
      background-color: $gray-darker;
      color: #fff;
    }
  }
  .action {
    .icon {
      font-size: 12px;
    }
  }
  .current .page {
    border-color: $gray-darker;
    background-color: $gray-darker;
    color: #fff;
  }
}
