<?xml version="1.0"?>
<!--
  /**
   * Oander_FileDownloader
   *
   * @author  Andor Regaisz <andor.regaisz@oander.hu>
   * @license Oander Media Kft. (http://www.oander.hu)
   */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Oander_Base::config">
                                <resource id="Oander_HelloBankPayment::config" title="Hello Bank"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Oander_Base::base">
                    <resource id="Oander_HelloBankPayment::hellobank_group" title="Hello Bank">
                        <resource id="Oander_HelloBankPayment::barems" title="Barem Management"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
