<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <hellobank>
                <model>HelloBankFacade</model>
                <title>HelloBank Payment</title>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <instructions>Instructions</instructions>
                <seller_id>0</seller_id>
                <approval_message>Approval Message</approval_message>
                <further_review_message>Further Review Message</further_review_message>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </hellobank>
        </payment>
    </default>
</config>
