<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="section__head">
  <ul class="opc-progress-bar list-unstyled">
      <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
          <li class="opc-progress-bar-item"
              data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : '')">
              <span class="opc-progress-bar-item-circle" data-bind="click: $parent.navigateTo"></span>
              <span class="opc-progress-bar-item-text" data-bind="i18n: item.title, click: $parent.navigateTo"></span>
          </li>
      <!-- /ko -->
      <li class="opc-progress-bar-item _last">
          <span class="opc-progress-bar-item-circle"></span>
          <span class="opc-progress-bar-item-text" data-bind="i18n: 'Order confirmation'"></span>
      </li>
  </ul>
  <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
  <div class="opc-progress-bar-current"
      data-bind="i18n: item.title,
                  css: { _active: item.isVisible() },
                  attr: { 'data-step': item.code }">
  </div>
  <!-- /ko -->
</div>
