<div class="section__head">
  <div class="block block--progressbar">
    <ul class="block__list">
      <li class="block__item completed" data-step="cart">
        <span class="block__circle"></span>
        <span class="block__title" data-bind="i18n: 'Cart'"></span>
      </li>
      <li class="block__item completed" data-step="information">
        <span class="block__circle"></span>
        <span class="block__title" data-bind="i18n: 'Information'"></span>
      </li>
      <li class="block__item" data-step="confirmation">
        <span class="block__circle"></span>
        <span class="block__title" data-bind="i18n: 'Confirmation'"></span>
      </li>
    </ul>
    <div class="block__line">
      <span class="line__cart"></span>
      <span class="line__information"></span>
    </div>
  </div>
</div>
