<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_cancel_after">
        <observer name="Cancel_Oney" instance="Oney\ThreeByFour\Observer\CancelOrder" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="Save_Shipment" instance="Oney\ThreeByFour\Observer\OnSaveShipment" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="oney_email_disable" instance="Oney\ThreeByFour\Observer\OrderEmail" />
    </event>
</config>
