<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Oney_ThreeByFour" setup_version="0.0.1" />
    <frontend>
        <routers>
            <oney_facilypay>
                <use>standard</use>
                <args>
                    <module>Oney_ThreeByFour</module>
                    <frontName>facilypay</frontName>
                </args>
            </oney_facilypay>
        </routers>
    </frontend>
</config>
