<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Oander_HelloBankPayment::hellobank_group"
             title="Hello Bank"
             module="Oander_HelloBankPayment"
             sortOrder="1300"
             resource="Oander_HelloBankPayment::hellobank_group"
             parent="Oander_Base::base"
             dependsOnConfig="payment/hellobank/active" />

        <add id="Oander_HelloBankPayment::barems"
             title="Barem Management"
             module="Oander_HelloBankPayment"
             sortOrder="1300"
             resource="Oander_HelloBankPayment::hellobank_group"
             parent="Oander_HelloBankPayment::hellobank_group"
             action="hellobank/barem/index"
             dependsOnConfig="payment/hellobank/active" />
    </menu>

</config>