.giftcard-account {
  .please-wait {
    display: none;
  }

  .form-giftcard-redeem {
    .giftcard.info {
      margin-bottom: $grid-gutter-width-base;
    }
  }
}

.opc-wrapper {
  .form-giftcard-account {
    max-width: 500px;

    .field {
      margin: 0 0 20px;

      .label {
        @extend .abs-visually-hidden;
      }
    }
  }

  .giftcard-account-info {
    margin: 0 0 20px;

    .giftcard-account-number {
      margin: 0 0 10px;
    }
  }
}
