//
//  Variables
//  _____________________________________________

$gift-wrapping__border-color: $gray-light;
$gift-wrapping__border-width: 1px;

$gift-wrapping-preview__active__border-color: $gray-darker;
$gift-wrapping-preview__active__border-width: 3px;

$gift-wrapping-thumbnail__height: 4rem;
$gift-wrapping-thumbnail__width: $gift-wrapping-thumbnail__height;

$gift-wrapping-no-image__background: $gray-lightest;
$gift-wrapping-no-image-icon__color: $gray-darker;
$gift-wrapping-no-image-icon__font-size: 22px;

//
//  Common
//  _____________________________________________

.gift-wrapping-info {
  font-weight: 300;
  font-size: $font-size-lg;
  margin: 20px 0;
}

.gift-wrapping-list {
  @extend .abs-add-clearfix;
  list-style: none;
  margin: 20px 0 10px;
  padding: 0;
  .no-image {
    background: $gift-wrapping-no-image__background;
    @include lib-icon-font(
        $icon-present,
    $_icon-font-size: $gift-wrapping-no-image-icon__font-size,
    $_icon-font-line-height: $gift-wrapping-thumbnail__height,
    $_icon-font-color: $gift-wrapping-no-image-icon__color,
    $_icon-font-position: after,
    $_icon-font-text-hide: true,
    $_icon-font-vertical-align: middle
    );
    &:after {
      display: block;
    }
  }
}

.gift-wrapping-item > span,
.gift-wrapping-preview {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gift-wrapping-item {
  float: left;
  margin: 0 10px 10px 0;
  &:last-child {
    margin-right: 0;
  }
  &._active {
    span {
      &:before {
        border: $gift-wrapping-preview__active__border-width solid $gift-wrapping-preview__active__border-color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }
  }
  & > span {
    height: $gift-wrapping-thumbnail__height;
    width: $gift-wrapping-thumbnail__width;
  }
}

.gift-wrapping-title {
  margin: 10px 0;

  .action-remove {
    margin: (-5px) 0 0 5px;
    @include lib-icon-font(
        $icon-trash,
    $_icon-font-size: 18px,
    $_icon-font-line-height: 20px,
    $_icon-font-text-hide: true,
    $_icon-font-color: $gray-dark,
    $_icon-font-color-hover: $gray-dark,
    $_icon-font-color-active: $gray-dark
    );
  }
}

.gift-options-content {
  .fieldset {
    .field {
      margin: 10px 0;
    }
  }
}

.gift-wrapping-summary {
  padding-right: 7rem;
  .gift-wrapping-title {
    border: 0;
    display: inline-block;
    padding: 0;
  }
}

.opc-wrapper {
  .fieldset.gift-message .field.gift-wrapping {
    padding: 0;
    width: 100%;
  }
}

.opc-wrapper .data.table,
.table-order-items {
  .gift-wrapping {
    margin: 20px 0 0;
    .title {
      float: none;
    }
    .content {
      @extend .abs-add-clearfix;
      margin: 0;
      & > img {
        float: left;
        margin: 0 10px 0 0;
        max-height: 50px;
        max-width: 50px;
      }
    }
  }
}

.gift-options,
.gift-summary {
  .price-box {
    margin-left: 22px;
  }
  .regular-price {
    &:before {
      content: attr(data-label) ": ";
    }
    .price {
      font-weight: $font-weight-bold;
    }
  }
  @extend .abs-adjustment-incl-excl-tax;
}

//
//  Mobile
//  _____________________________________________

@include media-breakpoint-down(sm) {
  .gift-wrapping {
    border-bottom: $gift-wrapping__border-width solid $gift-wrapping__border-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .gift-wrapping-list {
    width: 100%;
  }
  .gift-wrapping-summary {
    & + .gift-message-summary {
      padding-right: 0;
    }
  }
  .gift-options-cart-item {
    float: left;
  }
  .gift-wrapping-preview {
    img {
      width: 100%;
    }
  }
  .item-actions {
    .actions-toolbar {
      .gift-options {
        .gift-message,
        .gift-wrapping {
          display: block;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .data.table {
    .gift-wrapping {
      .content,
      .nested {
        @extend .abs-add-clearfix-desktop;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include media-breakpoint-up(md) {
  .gift-wrapping {
    float: left;
    padding-right: 20px;
    width: 50%;
    & + .gift-message {
      border-left: $gift-wrapping__border-width solid $gift-wrapping__border-color;
      float: left;
      padding-left: 4.5rem;
      width: 50%;
    }
  }
}
