.cart-summary {
  .block {
    &.giftcard {
      .action.check {
        @include lib-button-s();
        margin-top: 20px;
      }
    }
  }
}

.page-product-giftcard {
  .giftcard-amount {
    margin-bottom: 0;
    text-align: left;

    .field:last-child {
      padding-bottom: 20px
    }
  }

  .product-options-wrapper .field:first-of-type {
    margin-top: 20px
  }

  .fieldset.giftcard {
    & > .legend {
      @extend .abs-visually-hidden;
      & + br {
        @extend .abs-no-display;
      }
    }
  }
}
