<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Helper\Address">
        <plugin name="Oander_AddressFieldsProperties_Plugin_Frontend_Magento_Customer_Helper_Address" type="Oander\AddressFieldsProperties\Plugin\Frontend\Magento\Customer\Helper\Address" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="Oander_AddressFieldsProperties_Plugin_Frontend_Magento_Checkout_Block_Checkout_LayoutProcessor" type="Oander\AddressFieldsProperties\Plugin\Frontend\Magento\Checkout\Block\Checkout\LayoutProcessor" sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="Oander_AddressFieldsProperties_Plugin_Frontend_Magento_Customer_Block_Address_Edit" type="Oander\AddressFieldsProperties\Plugin\Frontend\Magento\Customer\Block\Address\Edit" sortOrder="10" disabled="false"/>
    </type>
</config>