<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Oander\CustomerAddressValidation\Api\GetCityByZipManagementInterface" type="Oander\CustomerAddressValidation\Model\GetCityByZipManagement"/>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="refreshZIPCity" xsi:type="object">Oander\CustomerAddressValidation\Console\Command\RefreshZIPCity</item>
			</argument>
		</arguments>
	</type>
</config>
