<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogWidget\Model\Rule\Condition\Combine">
        <plugin name="catalog_widget_wh_condition_product" type="Oander\ProductWidgetWarehouseManagerExtender\Plugin\Model\Rule\Condition\Combine"/>
    </type>
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList" type="Oander\ProductWidgetWarehouseManagerExtender\Block\Product\ProductsList"/>
    <preference for="Magento\Catalog\Block\Product\Widget\NewWidget" type="Oander\ProductWidgetWarehouseManagerExtender\Block\Product\Widget\NewWidget"/>
    <type name="Oander\ProductWidgetWarehouseManagerExtender\Model\Rule\Condition\WarehouseManager">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">catalog_rule_form</item>
            </argument>
        </arguments>
    </type>
</config>
