<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="oander_salesforceloyalty_observer_frontend_layout_generateblocksafter_layout_generate_blocks_after" instance="Oander\SalesforceLoyalty\Observer\Frontend\Layout\GenerateBlocksAfter"/>
    </event>
</config>