body.cms-no-route {
  .column.main {
    max-width: 600px;
    margin: 60px auto;
    padding-right: 20px;
    padding-left: 20px;

    h2 {
      margin-bottom: 40px;

      > strong {
        font-size: 3.5rem;
      }
    }

    p {
      margin-bottom: 20px;

      &:first-child {
        text-align: center;
      }
    }

    ul {
      margin-bottom: 20px;

      li {
        padding-bottom: 10px;
      }
    }
  }
}
