.promo {
  margin-bottom: 20px;

  .promo__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    transition: 180ms ease-in-out;
    border-radius: 4px;
    background: $white no-repeat center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0 0 2px 0 rgba(36, 36, 36, .35);
    overflow: hidden;

    .promo__text {
      display: block;
      padding: 20px;
      transition: .4s ease-in-out;
      background-color: $white;
      color: $black;
      text-align: center;
      overflow: hidden;
    }

    .promo__title {
      display: block;
      max-height: 2.4em;
      transition: .4s ease-in-out;
      color: #5f5f5f;
      font-size: 15pt;
      letter-spacing: -.2px;
      line-height: 1.2em;
      overflow: hidden;
    }

    .promo__description {
      display: block;
      max-height: 2.5em;
      padding-top: .2em;
      font-size: 11pt;
      font-weight: 400;
      letter-spacing: -.1px;
      line-height: 1.25em;
      overflow: hidden;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 10px -2px rgba($black, .1);

      .promo__text {
        background-color: rgba(210, 25, 39, .75);
        color: $white;
      }

      .promo__title {
        color: $white;
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

@include media-breakpoint-down(md) {
  .promotions {
    margin-top: 20px;
  }
}
