.page-wrapper {
  position: relative;
  transition: left cubic-bezier(0.5, 0.25, 0, 1) 0.4s;
  height: 100%;
  left: 0;
  overflow: hidden;
}
.page-main-top-wrapper {
  margin: 0 0 $grid-gutter-width-base;

  .page-title-wrapper {
    position: relative;
    padding: 1.5rem 0 0.5rem;
    margin: 0 0 30px;
    text-align: center;

    &:before {
      content: '';
      width: 100vw;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      background: $gray-lightest;
    }
  }
  .page-title {

  }
}
.page-main-top {
  justify-content: space-between;
}

.no-display {
  display: none;
}

table,
.table {
  .col {
    display: table-cell;
    width: auto;
  }
}

.slick-slider {
  .slick-slide {
    padding: 0 !important;
  }

  .slick-next,
  .slick-prev {
    &::before {
      content: '' !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-main-top {
    align-items: center;
  }
  .page-main-top-wrapper {
    background: $gray-lightest;
    padding: $grid-gutter-width-base 0;

    .page-title-wrapper {
      margin: 0;
      padding: 0;
    }
  }
}
