.page-wrapper {
  position: relative;
  transition: left cubic-bezier(0.5, 0.25, 0, 1) 0.4s;
  height: 100%;
  left: 0;
  overflow: hidden;
}
.page-main {
  > .page-title-wrapper {
    .page-title + .action {
      margin-top: $grid-gutter-width-base;
    }
  }
}

.no-display {
  display: none;
}

table,
.table {
  .col {
    display: table-cell;
    width: auto;
  }
}
.cms-index-index {
  .page-title-wrapper {
    display: none;
  }
}
