@import "footer/footer-content";
@import "footer/footer-links";
@import "footer/scrolltop";

.page-footer {
  margin-top: auto;
  border-top: 4px solid $gray-darker;
  color: #8c8c8c;
}
.footer-bottom {
  padding: $grid-gutter-width-base 0;
}
.footer-payments {
  margin-right: 10px;
  margin-top: 10px;

  li {
    margin: 0 5px 10px;
  }
  img {
    height: 25px;
  }
}
.footer-social-icons {
  margin: 0;

  .list-inline-item {
    margin: 0 20px;
  }
  a {
    color: #333;
    font-size: 18px;

    &:hover {
      color: $brand-secondary;
    }
  }
}
.footer-lang {
  .text {
    margin-left: 5px;
  }
}
.copyright {
  margin-bottom: $grid-gutter-width-base/2;
  font-size: 14px;
  font-weight: $font-weight-medium;
  color: $gray-dark;
}
.site-developer {
  color: #aaa;

  img {
    width: 54px;
    vertical-align: baseline;
  }
}

@include media-breakpoint-down(md) {
  .page-footer {
    > .container {
      width: 100%;
    }
  }
  .footer-bottom {
    border-top: 1px solid #dcdcdc;
    padding-bottom: 0;
  }
  .footer-bottom-right {
    border-top: 1px solid #dcdcdc;
    margin-top: 20px;
  }
  .footer-payments {
    order: 1;
  }
  .col-footer-info {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    & + .col-footer-info {
      &:before {
        content: '';
        position: absolute;
        border-top: 1px solid #dcdcdc;
        top: 0;
        left: -$grid-gutter-width-base/2;
        right: -$grid-gutter-width-base/2;
      }
    }
    p {
      margin: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .footer-info {
    padding: 20px 0;
  }
  .footer-social-icons {
    .list-inline-item {
      margin: 0 5px;
    }
  }
}