@import "footer/scrolltop";

.page-footer {
  margin-top: auto;
  color: #8c8c8c;

}
.footer.content {
  margin-top: $grid-gutter-width-base;
  padding: $grid-gutter-width-base 0 $grid-gutter-width-base/2;
}
.footer.bottom {
  padding: $grid-gutter-width-base 0;
}
.footer-bottom.right {
  margin-top: 10px;
}
.footer-links h2,
.footer-block-title {
  color: $gray-dark;
  font-size: 14px;
  font-weight: $font-weight-medium;
  margin-bottom: $grid-gutter-width-base;
}
.footer-links {
  ul {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: 5px;
    }
    a:not(:hover) {
      color: #8c8c8c;
    }
  }
}
.footer-payments {
  margin-right: 10px;
  margin-top: 10px;

  li {
    margin: 0 5px 10px;
  }
  img {
    height: 25px;
  }
}
.copyright {
  font-size: 12px;
  margin-bottom: $grid-gutter-width-base/2;
}
.site-author {
  color: #aaa;

  img {
    width: 54px;
    vertical-align: baseline;
  }
}
@include media-breakpoint-down(sm) {
  .footer-links {
    ul {
      margin-bottom: 40px;
    }
  }
  .footer-bottom.right {
    display: flex;
    flex-direction: column;
  }
  .footer-payments {
    order: 1;
  }
  .scroll-top {
    order: 2;
    float: none;
    margin: 15px auto;
  }
}

@include media-breakpoint-up(md) {
  .footer.bottom {
    border-top: 1px solid #f2f2f2;
  }
}
@include media-breakpoint-up(lg) {
  .footer-bottom.right {
    margin-top: 0;
  }
  .footer {
    .newsletter-terms {
      margin: 0.5rem 0 0;
    }
  }
}