$button__shadow: inset 0 2px 1px rgba(0, 0, 0, 0.12);

.page-header,
.page-footer {
  .switcher {
    margin-right: 10px;

    .options {
      ul.dropdown {
        a {
          display: block;
          padding: 8px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    li {
      font-size: $font-size-sm;
      margin: 0;
    }
    strong {
      font-weight: $font-weight-normal;
    }
  }
}
.page-header {
  background: $gray-dark;
}
.header-slogan {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 3px 0 0 10px;
}
.header.content {
  padding-top: $grid-gutter-width-base/2;
  position: relative;
  height: 70px;
}
.header-account-toggle {
  &,
  &:focus,
  &:hover {
    color: #fff;
  }
}
.action.nav-toggle {
  float: left;
  padding: 9px 2px;

  i {
    width: 26px;
    height: 3px;
    display: block;
    background: #000;

    & + i {
      margin-top: 5px;
    }
  }
}
.action.skip {
  &:focus {
    background: $gray-lightest;
    padding: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 15;
  }
}
.logo {
  float: left;
  margin: 3px 0 0 25px;
  max-width: 50%;
  z-index: 5;

  img {
    display: block;
    width: 120px;
    height: auto;
  }

  .page-print & {
    display: inline-block;
    float: none;
    margin-bottom: 20px;
  }
}
.wishlist-link {
  float: right;

  .btn-outline-primary {
    padding: 0.75rem 1.1rem;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  .text {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
    vertical-align: top;
  }
}

@include media-breakpoint-down(md) {
  .header-layer {
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    cursor: pointer;
    transition: all cubic-bezier(0.5, 0.25, 0, 1) 0.4s;
  }
  .page-header {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-up(lg) {


  .page-header-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .header-account {
    opacity: 0;
    visibility: hidden;
    width: 300px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: $header-lg-height;
    right: 0;
    z-index: 100;
    list-style: none;
    border-radius: 0 0 5px 5px;
    text-align: right;
    transition: all ease 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    li {
      & + li {
        margin-top: 10px;
      }
    }
    a {
      color: $gray-dark;
    }
  }
  .skip-link {
    height: $header-lg-height;
    line-height: $header-lg-height;

    &.active {
      .icon {
        background: rgba(#fff, 0.1);
      }
    }
    .icon {
      transition: background ease 0.3s;
      padding: 9px;
      border-radius: 100%;
      font-size: 16px;
    }
  }
  .page-header {
    height: $header-lg-height;

    .panel.wrapper {
      border-bottom: 1px solid #eceeef;
    }
    .switcher {
      display: inline-block;
    }
  }
  .page-main {
    > .page-title-wrapper {
      .page-title {
        display: inline-block;
      }
      .page-title + .action {
        float: right;
        margin-top: 20px;
      }
    }
  }
  .logo {
    margin-left: 0;
    margin-top: 1px;

    img {
      width: 120px;
    }
  }
}
@include media-breakpoint-up(xl) {

}