@import "header/header-account";

$button__shadow: inset 0 2px 1px rgba(0, 0, 0, 0.12);

.page-header,
.page-footer {
  .switcher {
    margin-right: 10px;

    .options {
      ul.dropdown {
        a {
          display: block;
          padding: 8px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    li {
      font-size: $font-size-sm;
      margin: 0;
    }
    strong {
      font-weight: $font-weight-normal;
    }
  }
}
.page-header {
  background: $gray-dark;
}
.page-header-wrapper {
  height: $header-height;
  align-items: center;
  justify-content: space-between;
}
.header.content {
  padding-top: $grid-gutter-width-base/2;
  position: relative;
  height: 70px;
}
.action.nav-toggle {
  i {
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;

    & + i {
      margin-top: 3px;
    }
  }
}
.action.skip {
  &:focus {
    background: $gray-lightest;
    padding: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 15;
  }
}
.skip-link {
  height: $header-height;
  display: block;
  position: relative;
  margin: 0;
  padding: 0 0.5rem;
  border: 0;
  line-height: $header-height;

  .icon {
    transition: background ease 0.3s;
    padding: 9px;
    border-radius: 100%;
    font-size: 16px;
  }
}
.logo {
  max-width: 50%;
  z-index: 5;

  img {
    display: block;
    width: 120px;
    height: auto;
  }
  .page-print & {
    display: inline-block;
    float: none;
    margin-bottom: 20px;
  }
}
.wishlist-link {
  float: right;

  .btn-outline-primary {
    padding: 0.75rem 1.1rem;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  .text {
    display: inline-block;
    font-weight: $font-weight-medium;
    margin-left: 5px;
    vertical-align: top;
  }
}

@include media-breakpoint-down(md) {
  .header-layer {
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    cursor: pointer;
    transition: all cubic-bezier(0.5, 0.25, 0, 1) 0.4s;
  }
  .page-header {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .header-right {
    flex: 0 0 130px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  }
  .minicart-wrapper,
  .header-account {
    &.active {
      .skip-link {
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -18px;
          width: 36px;
          height: 6px;
          background: $brand-secondary;
        }
        .icon {
          background: rgba(#fff, 0.1);
        }
      }
    }
  }
  //.skip-link {
  //  height: $header-height;
  //  display: block;
  //  position: relative;
  //  margin: 0;
  //  padding: 0 0.5rem;
  //  border: 0;
  //  line-height: $header-height;
  //
  //  .icon {
  //    transition: background ease 0.3s;
  //    padding: 9px;
  //    border-radius: 100%;
  //    font-size: 16px;
  //  }
  //}
  .page-header {
    height: $header-height;
    margin-bottom: 30px;

    .panel.wrapper {
      border-bottom: 1px solid #eceeef;
    }
    .switcher {
      display: inline-block;
    }
  }
  .page-main {
    > .page-title-wrapper {
      .page-title {
        display: inline-block;
      }
      .page-title + .action {
        float: right;
        margin-top: 20px;
      }
    }
  }
  .logo {
    flex: 0 0 150px;
  }
}
@include media-breakpoint-up(xl) {
  .header-right {
    flex: 0 0 160px;
  }
  .logo {
    flex: 0 0 185px;
  }
}