* {
  outline: 0;
}
html {
  font-size: $font-size-root;

  &.nav-open,
  &.sidebar-opened {
    body {
      position: fixed;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }
  }
}

body {
  margin: 0;

  *::selection {
    background: $brand-selected-bg;
    color: $brand-selected-text;
  }
  *::-moz-selection {
    background: $brand-selected-bg;
    color: $brand-selected-text;
  }
}
img {
  max-width: 100%;
  height: auto;
}
strong,
b {
  font-weight: $font-weight-medium;
}

@include media-breakpoint-down(md) {
  body {
    -webkit-text-size-adjust: none;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: $font-size-lg-h1;
  }
  h2 {
    font-size: $font-size-lg-h2;
  }
  h3 {
    font-size: $font-size-lg-h3;
  }
}
