.checkout-agreements-block {

  .action-show {
    vertical-align: baseline;
  }
}

//  Checkout Agreements in popup
.checkout-agreements-items {
  @extend .abs-reset-list;
  padding-bottom: $grid-gutter-width-base;

  .checkout-agreements-item {
    margin-bottom: 20px;
  }

  .checkout-agreements-item-title {
    border-bottom: none;
  }
}

//  Checkout Agreements
.checkout-agreement-item-content {
  overflow: auto;
}

@include media-breakpoint-up(xl) {
  .checkout-agreements-block {
    width: 65%;
    float: left;
  }
}
