.checkout-index-index,
.checkout-onepage-success {
  .page-title-wrapper {
    display: none;
  }
}
.checkout-index-index {
  .page-header {
    margin-bottom: 20px;
  }
  .page-wrapper {
    position: relative;
    > #temp_dpd_shop {
      display: none;
    }
  }
  .logo {
    position: static;
    transform: none;
    margin: 0;
    text-align: left;
    img {
      width: 140px;
    }
  }
  .nav-sections,
  .nav-toggle {
    display: none;
  }
  .step-title {
    margin: 0 0 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray-lighter;
  }
}
.checkout-onepage-success {
  #registration {
    display: none;
  }
  .otp-success {
    text-align: center;
    border-top: 1px solid #f1f1f2;
    margin-top: 20px;
    padding: 40px 0 0;
    font-size: 16px;
    p {
      margin: 0;
    }
    br {
      display: none;
    }
  }
}
.opc-wrapper {
  margin: 25px 0 20px;
  background: #fff;
  padding: 20px;

  .opc {
    @extend .abs-reset-list;
  }
  .fieldset {
    > .field {
      &:not(.choice):not(.field-select-billing) {
        > .label,
        > .control {
          font-size: $font-size-base;
          display: block;
          float: none;
          width: 100%;
          margin: 0;
          padding: 0;
          text-align: left;
        }
        > .control {
          margin-top: 5px;
        }
      }
    }
  }
  fieldset {
    &.street {
      .field {
        > .label {
          display: none;
        }
      }
    }
  }
}
.customer-email-fieldset {
  .fieldset {
    margin-bottom: 20px;
    > .field {
      width: 100% !important;
      float: none !important;
    }
    .actions-toolbar {
      margin: 20px 0 0;
      text-align: center;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .opc-wrapper {
    .step-content {
      margin: 0 0 15px;
    }
    .field-tooltip {
      display: none;
    }
    .field .control._with-tooltip input {
      width: 100%;
    }
    .fieldset > .field .note:before,
    .fieldset > .fields > .field .note:before {
      display: none;
    }
    .payment-method-billing-address {
      .actions-toolbar {
        button {
          margin: 0 5px;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .customer-email-fieldset {
    .actions-toolbar {
      display: table;

      > .primary,
      > .secondary {
        display: table-cell;
        width: 50%;
        float: none;
        text-align: center;
        vertical-align: middle;

        .action {
          float: none;
          margin: 0;
          padding: 0.75rem 1rem
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .checkout-index-index {
    .page-header,
    .header.content {
      height: 90px;
    }
    .form.form-login,
    .form-shipping-address {
      margin: 0 (-$grid-gutter-width-base/2) 20px;
    }
    .fieldset {
      @include clearfix();

      > .field {
        &:not(.choice):not(.field-select-billing) {
          width: 50%;
          float: left;
          padding: 0 map_get($grid-gutter-widths, lg)/2;

          &:nth-of-type(odd) {
            clear: left;
          }
        }
      }
      .oander-order-comment-form-wrapper {
        clear: left;
        width: auto;
        float: none;
        margin: 15px 15px 0;
        padding-top: 15px;
        border-top: 1px solid #f1f1f2;

        .field {
          width: 100% !important;
          padding: 0 !important;
        }
      }
    }
    .checkout-shipping-method {
      .actions-toolbar {
        width: 240px;
        float: right;
      }
    }
    .header.content {
      padding: 25px 20px 0;
    }
  }
  .opc-wrapper {
    margin: 0;
    float: left;
    width: calc(70% - 10px);
    padding: 30px 20px;

    .payment-option.discount-code {
      border-top: 1px solid #f1f1f2;
      padding: 20px 0 0;

      .payment-option-title {
        padding-left: 0;
        border-top: 0;
      }
    }
    .form.form-discount {
      .discount-block {
        display: table;
        width: 100%;

        .payment-option-inner,
        .actions-toolbar {
          display: table-cell;
          vertical-align: top;
        }
        .actions-toolbar {
          width: 250px;
        }
        .input-text {
          border-radius: 8px 0 0 8px;
        }
        button.action {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}
@include media-breakpoint-only(lg) {
  .customer-email-fieldset {
    .fieldset {
      .actions-toolbar {
        display: block;

        > .primary,
        > .secondary {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .opc-wrapper {
    width: calc(66.6666% - 15px); // col-xl-8
  }
}