.checkout-index-index {
  .modal-popup {
    .field-tooltip {
      .field-tooltip-content {
        @extend .abs-checkout-tooltip-content-position-top;
      }
    }
  }
  .model-content {
    border: 0;
  }
}

//
//  Desktop
//  _____________________________________________

@include media-breakpoint-up(md) {
  .checkout-index-index {
    .modal-popup {
      .modal-footer {
        .action-save-address {
          float: right;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .checkout-index-index {
    .modal-popup {
      .modal-inner-wrap {
        width: 800px;
        left: 50%;
      }
    }
  }
}
