.checkout-payment-method {
  .credit-card-types {
    padding: 0;

    .item {
      display: inline-block;
      list-style: none;
      margin: 0 5px 0 0;
      vertical-align: top;

      &._active {
        font-weight: $font-weight-bold;

        img {
          filter: grayscale(0%);
        }
      }

      &._inactive {
        opacity: .4;
      }
      span {
        display: inline-block;
        padding-top: 6px;
        vertical-align: top;
      }
    }
    img {
      filter: grayscale(100%);
      transition: all .6s ease;
    }
  }

  .ccard {
    .legend {
      @extend .abs-visually-hidden;
    }

    .fields {
      & > .year {
        padding-left: 5px;
      }

      .select {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .month {
      .select {
        width: 140px;
      }
    }

    .year {
      .select {
        width: 80px;
      }
    }

    .number {
      .input-text {
        width: 225px;
      }
    }

    & > .field.cvv {
      & > .control {
        padding-right: 20px;
        width: auto;
      }
    }

    .cvv {
      .input-text {
        width: 55px;
      }
    }

    &.fieldset {
      & > .field {
        .fields.group.group-2 {
          .field {
            width: auto !important;
          }
        }
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

@include media-breakpoint-down(sm) {
  .checkout-payment-method {
    .payment-option {
      margin: 0 -15px;

      .payment-option-title {
        padding: 15px;
      }

      .payment-option-content {
        padding: 0 15px 20px;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include media-breakpoint-up(md) {
  .checkout-payment-method {
    .payment-option-title {
      padding-left: 20px;
    }
    .payment-option-content {
      .payment-option-inner {
        + .actions-toolbar {
          margin-left: 0;
        }
      }
    }
  }
}
