$progress-bar-items-count: 3;
$progress-circle-size: 40px;
$progress-bar-color: #f0f0f0;
$progress-bar-title-color: #c3c3c3;

.opc-progress-bar {
  counter-reset: i;
  position: relative;
  margin: 25px 0;

  &.success {
    .opc-progress-bar-item {
      &,
      &._active,
      &._complete {
        &:hover {
          cursor: default;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $progress-bar-color;
    top: 18px;
    left: 0;
  }
}
.opc-progress-bar-item {
  width: 100% / $progress-bar-items-count;
  float: left;
  position: relative;
  text-align: center;
  color: $progress-bar-title-color;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $progress-bar-color;
    top: 18px;
    left: 0;
  }
  &:first-child {
    text-align: left;

    .opc-progress-bar-item-circle {
      margin: 0 0 5px;
    }
  }
  &._last {
    @include clearfix;
    text-align: right;

    .opc-progress-bar-item-circle {
      float: right;
    }
  }
  &._active {
    color: $gray-dark;

    .opc-progress-bar-item-text {
      font-weight: 500;
    }

    .opc-progress-bar-item-circle {
      background: $gray-darker;
      width: 50px;
      height: 50px;
      margin-top: -7px;

      &::before {
        font-size: 28px;
        line-height: 50px;
        color: $white;
        padding-left: 10px;
      }
    }
  }
  &._complete {
    cursor: pointer;
    color: #0db153;

    &::before {
      background: #0db153;
    }
    & + ._active:not(._last) {
      &::before {
        background: #0db153;
        width: 50%;
      }
    }
    .opc-progress-bar-item-circle {
      background: #0db153;

      &::before {
        content: $icon-check;
        font-family: $icon-font-family;
        font-size: 20px;
        color: $white;
      }
    }
  }
}
.opc-progress-bar-item-circle {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0 auto 5px;
  background-color: $progress-bar-color;
  border-radius: $progress-circle-size;
  text-align: center;

  &,
  &::before {
    width: $progress-circle-size;
    height: $progress-circle-size;
  }
  &::before {
    content: counter(i);
    counter-increment: i;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    line-height: 36px;
    color: $gray-light;
    font-size: 12px;
  }
}
.opc-progress-bar-item-text {
  clear: both;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
}

@include media-breakpoint-down(sm) {
  .opc-progress-bar {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .opc-progress-bar-item-text {
    display: none;
  }
  .opc-progress-bar-current {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    display: none;
    font-size: 22px;
    font-weight: 400;

    &._active {
      display: block;
    }
  }
}
