.opc-wrapper {

  .form-login,
  .form-shipping-address {
    margin-bottom: 20px;

    .fieldset {
      .note {
        display: block;
        margin-top: 5px;
      }
    }
  }

  .table-checkout-shipping-method {
    margin: 20px 0 0;
    width: 100%;
  }

  .shipping-address-items {
    margin: 0;
  }
  .shipping-address-item {
    padding: 20px;
    border: 2px solid transparent;
    margin: 0 0 20px;
    transition: all ease .3s;
    position: relative;
    word-wrap: break-word;

    &::after {
      position: absolute;
      width: 30px;
      height: 30px;
      content: $icon-check;
      font-family: $icon-font-family;
      background: $brand-primary;
      color: #fff;
      font-size: 12px;
      line-height: 30px;
      right: 0;
      text-align: center;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: all ease .3s;
    }

    &.selected-item {
      border-color: $brand-primary;

      &::after {
        visibility: visible;
        opacity: 1;
      }

      .action-select-shipping-item {
        display: none;
      }
    }
  }
  .field {
    &.addresses {
      @extend .abs-add-clearfix;
    }
  }
  .action-show-popup {
    margin: 0 0 20px;

    > span {
      &::before {
        padding-right: 5px;
        content: '+';
      }
    }
  }

  .action-select-shipping-item {
    margin: 20px 0 0;
  }

  .edit-address-link {
    display: block;
    margin: 26px 5px 0 0;
  }
}
.checkout-shipping-method {
  .step-title {
    margin-bottom: 0;
  }

  .no-quotes-block {
    margin: 20px 0;
  }

  .actions-toolbar {
    .action {
      &.primary {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.table-checkout-shipping-method {
  .row {
    display: table-row;
    margin: 0;
  }

  thead {
    th {
      display: none;
    }
  }

  tbody {
    margin: 0;

    td {
      border: none;
      padding: 10px;

      &:first-child {
        padding-left: 0;
        width: 20px;
      }

      &.col-method {
        padding-top: 0;
        padding-right: 0;
      }
      &.col-price {
        font-weight: $font-weight-medium;
      }

      .custom-control {
        margin-bottom: 0;
      }
      .custom-control-description {
        padding-left: 15px;

        > * {
          display: block;
          float: left;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        .price {
          font-weight: 500;
          width: 110px;
        }
        .title {
          width: 220px;
        }
      }
    }

    .row-error {
      td {
        border-top: none;
        padding-bottom: 10px;
        padding-top: 0;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .table-checkout-shipping-method {
    tbody {
      td {
        .custom-control-description {
          .price,
          .title {
            width: auto;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .opc-wrapper {
    .form-login {
      margin: 0 0 15px;
      padding: 0 0 15px;
    }

    .shipping-address-item {
      border-bottom: 1px solid $gray-light;
      margin: 0 0 15px;
      padding: 0 0 15px;
      width: 100%;

      &.selected-item {
        border-bottom-width: 2px;
        padding: 15px ($grid-gutter-width-base + 5px) 15px 18px;

        .edit-address-link {
          right: 35px;
        }
      }
    }

    .action-select-shipping-item {
      float: none;
      margin-top: 10px;
      width: 100%;
    }

    .action-show-popup {
      width: 100%;
    }

    .edit-address-link {
      @include lib-icon-font(
        $icon-settings,
        $_icon-font-size: 28px,
        $_icon-font-line-height: 28px,
        $_icon-font-text-hide: true,
        $_icon-font-color: #303030,
        $_icon-font-color-hover: #303030,
        $_icon-font-color-active: #303030
      );
      margin: 0;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .checkout-shipping-method {
    .actions-toolbar {
      .action {
        &.primary {
          margin: 0;
        }
      }
    }
  }
}
