//
//  Shipping Information
//  _____________________________________________

.opc-block-shipping-information {
  .shipping-information-title {
    position: relative;
    margin: 0 0 20px;
    border-bottom: 1px solid $gray-border;

    .btn {
      background-color: transparent;
      font-size: 16px;
    }
  }

  .shipping-information-content {
    line-height: 18px;

    .actions-toolbar {
      margin-left: 0;
    }
  }

  .ship-to,
  .ship-via {
    margin: 0 0 20px;
  }
}
