@include media-breakpoint-up(lg) {
  .opc-sidebar {
    width: calc(35% - 10px);
    float: right;
  }
}
@include media-breakpoint-up(xl) {
  .opc-sidebar {
    width: calc(33.3333% - 15px); // col-xl-4
  }
}

@include media-breakpoint-only(md) {
  .opc-sidebar {
    display: flex;
    align-items: flex-start;

    .opc-block-summary {
      flex-grow: 4;
    }

    .opc-block-shipping-information {
      padding-left: 20px;
    }

    .checkout-info-box-container {
      width: 220px;
    }

    .shipping-information {
      width: 340px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .checkout-container {
    display: flex;
    flex-direction: column;

    .opc-sidebar {
      order: 10;

      .opc-block-summary {
        margin-bottom: 0;
      }

      .shipping-information {
        margin-top: 20px;
      }
    }

    .opc-wrapper {
      order: 11;
    }

    .opc-progress-bar-current._active[data-step="payment"] ~ .opc-sidebar {
      order: 12;
    }
  }
}
