//
//  Shipping Information
//  _____________________________________________

.opc-block-shipping-information {
  .shipping-information {
    margin-top: 15px;
  }

  .shipping-information-title {
    position: relative;
    margin: 0 0 20px;
    border-bottom: 1px solid $gray-border;

    .btn {
      background-color: transparent;
      font-size: 16px;

      i {
        transition: .5s color;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }
  }

  .shipping-information-content {
    line-height: 18px;

    .actions-toolbar {
      margin-left: 0;
    }
  }

  .ship-to,
  .ship-via {
    margin: 0 0 20px;
  }
}

@include media-breakpoint-only(md) {
  .opc-block-shipping-information {
    .shipping-information {
      margin-top: 0;
    }
  }
}
