.checkout-onepage-success {
  .checkout-success {
    font-size: 14px;
    background-color: #fff;
    padding: 35px $grid-gutter-width-base/2 30px;
  }
}
.checkout-success__main {
  text-align: center;

  i {
    display: inline-block;
    font-size: 150px;
    line-height: 1em;
    margin-bottom: 25px;
    color: #7f7f7f;
  }
  h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: $font-weight-medium;
    color: #3c3c3c;
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 20px;
  }
  a {
    color: $brand-primary;
    text-decoration: underline;

    &:hover {
      color: $gray-dark;
    }
  }
  hr {
    display: block;
    height: 1px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f1f1f2;
    margin-bottom: 25px;
  }
}
.checkout-success__details {
  > div {
    padding-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    color: $brand-primary;
    font-weight: $font-weight-medium;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f2;
  }
  p {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .checkout-success__main {
    i {
      font-size: 175px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .checkout-success {
    font-size: 16px;
  }

  .checkout-success__main {
    i {
      font-size: 216px;
    }
  }

  .checkout-success__details {
    h2 {
      font-size: 20px;
    }
  }
}
