<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="braintree_applepay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>ApplePay</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="merchant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Merchant ID</label>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>Label on Payment Sheet</label>
				</field>
				<field id="show_product_page" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="select">
					<label>Show on product page</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_mini_cart" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
					<label>Show in mini cart</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_cart" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="select">
					<label>Show in cart</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_checkout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="select">
					<label>Show in checkout</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="enabled_shipping_methods" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="multiselect">
					<label>Enabled shipping methods</label>
					<source_model>Oander\ApplePay\Model\Config\Source\EnabledShippingMethods</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="allowspecific">
					<label>Allowed countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="multiselect">
					<label>Allowed countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="merchant_capabilities" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="multiselect">
					<label>Merchant Capabilities</label>
					<source_model>Oander\ApplePay\Model\Config\Source\MerchantCapabilities</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="supported_networks" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="150" translate="label" type="multiselect">
					<label>Supported Networks</label>
					<source_model>Oander\ApplePay\Model\Config\Source\SupportedNetworks</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="payment_action" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Payment Action</label>
					<source_model>Magento\Braintree\Model\Adminhtml\Source\PaymentAction</source_model>
				</field>
				<field id="merchant_name" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Name</label>
					<frontend_class>required-entry</frontend_class>
					<comment>
						<![CDATA[Displayed to the customer in the Apple Pay dialog.]]>
					</comment>
				</field>

				<!--<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label>
				</field>-->
			</group>
		</section>
	</system>
</config>
