// Variables
//
// These variables override bootstrap core variables

// Imports
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i&subset=latin-ext');

// Variables
$icon-font-family: 'icomoon';

$header-height: 64px;

// Colors
$gray-darker: #222;
$gray-dark: #282828;
$gray: #55595c;
$gray-light: #818a91;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;

$brand-primary: #007aff;
$brand-secondary: #e21937;
$brand-success: #10ad00;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-inverse: $gray-dark;

$brand-selected-bg: $brand-primary;
$brand-selected-text: #fff;

$color-viewcart: $brand-primary;
$color-showcart: $brand-primary;
$color-tocart: $brand-primary;
$color-wishlist: $brand-primary;
$color-towishlist: $brand-primary;
$color-apply: $brand-primary;
$color-cancel: $brand-secondary;

// Options


// Spacing


// Body
$body-bg: #fff;


// Links

$link-color:            $brand-primary;
$link-decoration:       none ;
$link-hover-color:      darken($link-color, 10%);
$link-hover-decoration: none;

$link-visited: darken($link-color, 10%);


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1220px
);


// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);


// Grid columns
$grid-gutter-width-base: 20px;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);


// Fonts
$font-family-sans-serif: 'Rubik', sans-serif;

$font-size-root: 14px;

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$line-height-base: 1.5;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;


// Components
$border-radius: 4px;
$border-radius-lg: 0;
$border-radius-sm: 0;


// Tables

//$table-cell-padding: 2rem 1rem;
$table-border-color: $gray-lighter;

// Buttons
$btn-padding-x: 2rem;
$btn-padding-y: .75rem;

$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

$btn-secondary-color:            #fff;
$btn-secondary-bg:               #3c3c3c;
$btn-secondary-border:           #3c3c3c;


// Forms
$input-padding-y:                .75rem;
$input-padding-y-sm:             .5rem;

$input-border-focus: $brand-primary;

$custom-control-spacer-y: .5rem;

$custom-control-indicator-size:       1rem;

$custom-radio-checked-icon: '';
// Dropdowns


// Z-index master list


// Navbar


// Navs
$nav-tabs-border-color: #eee;
$nav-tabs-active-border-color: $brand-primary;

// Pagination


// Jumbotron

// Form states and alerts
$mark-bg:     transparent;

// Cards


// Tooltips


// Popovers


// Badges


// Modals


// Alerts


// Progress bars


// List group


// Image thumbnails


// Figures


// Breadcrumbs

// Carousel


// Close


// Code