<div id="addcheckout-apple-pay"></div>
<script type="text/javascript">
    require(["jquery", 'applePay', 'domReady!'], function ($) {
        var selectors = {
            applepayObject: 'applepay-object'
        };

        if (document.getElementById('addcheckout-apple-pay').innerHTML === '') {
            var applePayObject = document.getElementById(selectors.applepayObject);
            var applePay = $(applePayObject).data('mageApplepay');
            if(typeof applePay !== 'undefined') {
                addCheckoutApplePayButton();
            }
            else {
                applePayObject.addEventListener("init", function() {addCheckoutApplePayButton()});
            }
            return false;
        }

        function addCheckoutApplePayButton() {
            var applePayObject = document.getElementById(selectors.applepayObject);
            var applePay = $(applePayObject).data('mageApplepay');
            if (applePay.canUseApplePay('checkout')) {
                applePay.addCartButton(document.getElementById('addcheckout-apple-pay'));
            }
        }
    });
</script>
