<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="oander_salesforceloyalty_observer_sales_modelservicequotesubmitbefore_sales_model_service_quote_submit_before" instance="Oander\SalesforceLoyalty\Observer\Sales\ModelServiceQuoteSubmitBefore"/>
    </event>
    <event name="sales_order_place_before">
        <observer name="oander_salesforceloyalty_point_block" instance="Oander\SalesforceLoyalty\Observer\PointBlock"/>
    </event>
    <event name="sales_quote_item_save_after">
        <observer name="oander_salesforceloyalty_quote_item_save" instance="Oander\SalesforceLoyalty\Observer\QuiteItemSave"/>
    </event>
    <event name="sales_quote_add_item">
        <observer name="oander_salesforceloyalty_quote_item_add" instance="Oander\SalesforceLoyalty\Observer\QuiteItemSave"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="oander_salesforceloyalty_quote_item_remove" instance="Oander\SalesforceLoyalty\Observer\QuiteItemSave"/>
    </event>
    <event name="customer_save_commit_after">
        <observer name="oander_salesforceloyalty_customer_change" instance="Oander\SalesforceLoyalty\Observer\CustomerChange"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="oander_salesforceloyalty_sales_order_save_after" instance="Oander\SalesforceLoyalty\Observer\Sales\OrderSaveAfter"/>
    </event>
    <!-- EBX -->
    <event name="oander_ebx_convert_customer">
        <observer name="oander_salesforceloyalty_customer_convert_observer"
                  instance="Oander\SalesforceLoyalty\Observer\Convert\CustomerConvertObserver"/>
    </event>
    <!-- 57017 -->
    <event name="customer_login">
        <observer name="oander_salesforceloyalty_customer_convert_observer"
                  instance="Oander\SalesforceLoyalty\Observer\CustomerLogin"/>
    </event>
    <!-- 57017 -->
</config>