<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Oander_SalesforceLoyalty" setup_version="1.1.1">
		<sequence>
			<module name="Innobyte_CheckoutSuccess" />
			<module name="Magento_Sales"/>
			<module name="Oander_Checkout"/>
			<module name="Oander_EventBasedExporter" />
			<module name="Oander_Salesforce"/>
			<module name="Oander_Queue"/>
			<module name="Oander_IstyleCheckout"/>
		</sequence>
	</module>
</config>
