<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Oander_SalesforceLoyalty" setup_version="1.0.8">
		<sequence>
			<module name="Oander_Salesforce"/>
			<module name="Oander_IstyleCheckout"/>
		</sequence>
	</module>
</config>
