.block.filter {
  .filter-current {
    padding-bottom: 0;

    .block-subtitle {
      font-weight: $font-weight-semibold;
    }

    .items {
      .item {
        padding-bottom: 5px;
        padding-top: 5px;

        &:not(:last-child) {
          padding-bottom: 0;
        }
      }
    }
    .item {
      font-size: 1rem;
      font-weight: 500;
      color: $gray-darker;
      padding: 12px 0;

      .action {
        float: right;
        padding: 0;
        color: $gray-darker;
        vertical-align: middle;
        font-size: 16px;
        line-height: 16px;

        &:hover {
          color: $brand-primary;
        }
      }
      .label {
        font-size: 0.875rem;
      }
    }
    .filter-label {
      vertical-align: middle;
    }
    .filter-value {
      vertical-align: middle;
      padding-left: 20px;

      > li {
        @include clearfix;
        margin: 5px 0;
      }
    }
  }
  .filter-actions {
    padding-top: 0;

    .action.clear.filter-clear {
      padding: 0;
    }
  }
  > .filter-title,
  .filter-subtitle {
    display: none;
  }
}

.filter-options {
  margin: 0;

  .filter-options-content {
    .item {
      margin: 5px 0;

      a {
        display: block;
        color: $gray-darker;

        &:hover {
          color: $gray-dark;
        }
        .filter-count-label {
          color: $gray-darker;
        }
        input[type='checkbox'] {
          vertical-align: middle;
        }
      }
    }
    .dropdown {
      margin-top: 10px;
      color: #555;
      font-weight: $font-weight-medium;

      &.closed {
        .less {
          display: none;
        }
      }
      &.opened {
        .more {
          display: none;
        }
      }
      span {
        display: inline-block;
        position: relative;
        text-transform: lowercase;
        color: $gray-dark;

        &:after {
          margin-left: 5px;
          font-family: $icon-font-family;
          font-size: 6px;
          display: inline-block;
          vertical-align: middle;
        }
        &.more {
          &:after {
            content: $icon-chevron-down;
          }
        }
        &.less {
          &:after {
            content: $icon-chevron-up;
          }
        }
      }
    }
  }
  .count {
    color: lighten($gray-dark, 29%);

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}
.filter-options-title {
  font-size: 1rem;
  margin-bottom: 20px;
}
.filter-options-item {
  padding: 20px 0;

  & + .filter-options-item {
    border-top: 1px solid #dcdcdc;
  }
}
.filter-actions {
  .action.clear.filter-clear {
    color: $gray;
    text-decoration: underline;
    font-size: $font-size-sm;

    &:hover {
      color: $brand-primary;
    }
  }
}
.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filtered {
  .items {
    margin: 15px 0;
  }
  .item {
    position: relative;
    padding-left: 22px;
    margin-bottom: 6px;

    .label {
      font-weight: $font-weight-bold;
    }
    .action.remove {
      position: absolute;
      left: -6px;
      top: 0;
    }
  }

  & + .actions {
    margin-bottom: 35px;
  }
}
