.block.filter {
  .filter-current {
    padding-bottom: 0;

    .block-subtitle {
      font-weight: $font-weight-semibold;
    }

    .items {
      .item {
        padding-top: 5px;
        padding-bottom: 5px;

        &:not(:last-child) {
          padding-bottom: 0;
        }
      }
    }

    .item {
      padding: 12px 0;
      color: $gray-darker;
      font-size: 1rem;
      font-weight: 500;

      .action {
        padding: 0;
        float: right;
        color: $gray-darker;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;

        &:hover {
          color: $brand-primary;
        }
      }

      .label {
        font-size: .875rem;
      }
    }

    .filter-label {
      vertical-align: middle;
    }

    .filter-value {
      padding-left: 20px;
      vertical-align: middle;

      > li {
        @include clearfix;
        margin: 5px 0;
      }
    }
  }

  .filter-actions {
    padding-top: 0;

    .action.clear.filter-clear {
      padding: 0;
    }
  }

  > .filter-title,
  .filter-subtitle {
    display: none;
  }
}

.filter-options {
  margin: 0;

  .filter-options-content {
    .item {
      margin: 5px 0;

      a {
        display: block;
        color: $gray-darker;

        &:hover {
          color: $gray-dark;
        }

        .filter-count-label {
          color: $gray-darker;
        }

        input[type='checkbox'] {
          vertical-align: middle;
        }
      }
    }

    .dropdown {
      margin-top: 10px;
      color: #555;
      font-weight: $font-weight-medium;

      &.closed {
        .less {
          display: none;
        }
      }

      &.opened {
        .more {
          display: none;
        }
      }

      span {
        display: inline-block;
        position: relative;
        color: $gray-dark;
        text-transform: lowercase;

        &::after {
          display: inline-block;
          margin-left: 5px;
          font-family: $icon-font-family;
          font-size: 6px;
          vertical-align: middle;
        }

        &.more {
          &::after {
            content: $icon-chevron-down;
          }
        }

        &.less {
          &::after {
            content: $icon-chevron-up;
          }
        }
      }
    }
  }

  .count {
    color: lighten($gray-dark, 29%);

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}

.filter-options-title {
  margin-bottom: 20px;
  font-size: 1rem;
}

.filter-options-item {
  padding: 20px 0;

  & + .filter-options-item {
    border-top: 1px solid $gray-border;
  }
}

.filter-actions {
  .action.clear.filter-clear {

    color: $gray;
    font-size: $font-size-sm;
    text-decoration: underline;

    &:hover {
      color: $brand-primary;
    }
  }
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filtered {
  .items {
    margin: 15px 0;
  }

  .item {
    position: relative;
    margin-bottom: 6px;
    padding-left: 22px;

    .label {
      font-weight: $font-weight-bold;
    }

    .action.remove {
      position: absolute;
      top: 0;
      left: -6px;
    }
  }

  & + .actions {
    margin-bottom: 35px;
  }
}
