.footer-links {
  ul {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: 5px;
    }
    a:not(:hover) {
      color: #8c8c8c;
    }
  }
}

@include media-breakpoint-down(md) {
  .footer-links {
    ul {
      margin-bottom: 40px;
      display: none;
    }
  }
}