.scroll-top {
  display: block;
  width: 40px;
  height: 40px;
  transition: ease .3s;
  border: 1px solid $gray-darker;
  border-radius: 40px;
  color: $gray-darker;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $gray-darker;
    color: #fff;
    text-decoration: none;
  }

  .icon {
    font-size: 12px;
    line-height: 40px;
  }
}

@include media-breakpoint-down(md) {
  .scroll-top {
    margin: 20px auto;
  }
}
