.scroll-top {
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  transition: all ease 0.3s;
  border: 1px solid $gray-darker;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: $gray-darker;

  &:hover {
    background: $gray-darker;
    color: #fff;
    text-decoration: none;
  }

  .icon {
    line-height: 40px;
    font-size: 8px;
  }
}

@include media-breakpoint-down(sm) {
  .scroll-top {
    order: 2;
    float: none;
    margin: 15px auto;
  }
}