<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <customer>
            <address>
                <taxvat_profile_checkout_required>0</taxvat_profile_checkout_required>
            </address>
        </customer>
	</default>
</config>
