<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Oander\IstyleCheckout\Api\AccountManagementInterface" type="Oander\IstyleCheckout\Model\AccountManagement" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="oander_istylecheckout_modified_checkout_layout_processor" type="Oander\IstyleCheckout\Plugin\Checkout\LayoutProcessor" sortOrder="1"/>
    </type>
    <preference for="Oander\FreeShippingDisplay\Block\FreeShipping" type="Oander\IstyleCheckout\Block\FreeShippingDisplay\FreeShipping"/>
    <preference for="Magento\Checkout\Block\Cart\Coupon" type="Oander\IstyleCheckout\Block\Cart\Coupon"/>
    <preference for="Magento\CheckoutAgreements\Api\Data\AgreementInterface " type="Oander\IstyleCheckout\Api\Data\AgreementInterface"/>
    <preference for="Magento\CheckoutAgreements\Model\Agreement" type="Oander\IstyleCheckout\Model\Agreement"/>
    <preference for="Magento\CheckoutAgreements\Controller\Adminhtml\Agreement\Edit" type="Oander\IstyleCheckout\Controller\Adminhtml\Agreement\Edit"/>
    <preference for="Magento\CheckoutAgreements\Model\AgreementsConfigProvider" type="Oander\IstyleCheckout\Model\AgreementsConfigProvider"/>
    <preference for="Magento\CheckoutAgreements\Block\Agreements" type="Oander\IstyleCheckout\Block\RegistrationAgreements"/>
    <preference for="Oander\IstyleCheckout\Api\ForgetPasswordInterface" type="Oander\IstyleCheckout\Model\ForgetPassword" />
    <type name="Mageplaza\GoogleRecaptcha\Model\System\Config\Source\Frontend\Forms">
        <plugin name="oander_istylecheckout_mageplaza_recaptcha_forms" type="Oander\IstyleCheckout\Plugin\Mageplaza\GoogleRecaptcha\Model\System\Config\Source\Frontend\Forms" sortOrder="1"/>
    </type>
    <preference for="Magento\CheckoutAgreements\Model\AgreementsProvider" type="Oander\IstyleCheckout\Model\AgreementsProvider"/>
    <type name="Magento\Sales\Block\Order\Info">
        <plugin name="add_storepickup_pickup_point_to_info" type="Oander\IstyleCheckout\Plugin\Magento\Sales\Block\Order\Info" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Sales\Model\Order\Address\Renderer">
        <plugin name="add_storepickup_pickup_point_to_address_renderer" type="Oander\IstyleCheckout\Plugin\Magento\Sales\Model\Order\Address\Renderer" sortOrder="10" disabled="false"/>
    </type>
</config>