<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<otp_calculator>
            <product_enabled>0</product_enabled>
            <min_price></min_price>
            <max_price></max_price>
        </otp_calculator>
	</default>
</config>
