<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Oander\AddressFieldsProperties\Model\ResourceModel\AddressFieldsAttribute\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">eav_attribute</argument>
			<argument name="resourceModel" xsi:type="string">Magento\Eav\Model\ResourceModel\Entity\Attribute</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="oander_addressfieldsproperties_addressfieldsattribute_listing_data_source" xsi:type="string">Oander\AddressFieldsProperties\Model\ResourceModel\AddressFieldsAttribute\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
