//  Checkout tooltip
$checkout-tooltip-icon-arrow__font-size: 10px;
$checkout-tooltip-icon__font-size: 21px;

$checkout-tooltip-content-mobile__right: -(10px);
$checkout-tooltip-content-mobile__top: 30px + $checkout-tooltip-icon-arrow__font-size;
$checkout-tooltip-content__background-color: $gray-lightest;
$checkout-tooltip-content__padding: 12px;
$checkout-tooltip-content__border-width: 1px;

$checkout-tooltip-content__border-color: $gray;
$checkout-tooltip-content__font-size: $font-size-base;
$checkout-tooltip-content__width: 270px;
$checkout-tooltip-content__active__border-color: darken($checkout-tooltip-content__border-color, 20%);
$checkout-tooltip-icon-arrow__left: -( $checkout-tooltip-content__padding + $checkout-tooltip-icon-arrow__font-size - $checkout-tooltip-content__border-width);

// Checkout
$checkout-step-title__padding: 10px;
$checkout-step-title__border: 1px solid $gray-light;
$checkout-step-title__font-size: 26px;
$checkout-step-title__font-weight: 300;
$checkout-sidebar__columns: 8;
$checkout-shipping-address__max-width: 500px;