//  Path
$font-path: "../../fonts/";

$heading__font-family__base: inherit;
$heading__font-weight__base: 300;
$heading__line-height__base: 1.1;
$heading__color__base: inherit;
$heading__font-style__base: inherit;
$heading__margin-top__base: 20px;
$heading__margin-bottom__base: 20px;
$h1__font-size-desktop: ceil(($font-size-base * 2.85));
$h1__margin-bottom__desktop: 40px;

$heading-default: (
  font-size : $font-size-base,
  font-family : $heading__font-family__base,
  font-weight : $heading__font-weight__base,
  line-height : $heading__line-height__base,
  color : $heading__color__base,
  font-style : $heading__font-style__base,
  margin-top : $heading__margin-top__base,
  margin-bottom : $heading__margin-bottom__base,
  font-size-desktop: $h1__font-size-desktop
);

$heading-h1: (
  font-size: ceil(($font-size-base * 1.85)),
  margin-top: 0
);

$heading-h2: (
  font-size: ceil(($font-size-base * 1.85)),
  margin-top: $grid-gutter-width-base
);

$heading-h3: (
  font-size: ceil(($font-size-base * 1.28)),
  margin-top: 20px * 0.75,
  margin-bottom: 10px
);

$heading-h4: (
  font-size: $font-size-base,
  font-weight: $font-weight-bold
);

$heading-h5: (
  font-size: ceil(($font-size-base * 0.85)),
  font-weight: $font-weight-bold
);

$heading-h6: (
  font-size: ceil(($font-size-base * 0.7)),
  font-weight: $font-weight-bold
);

$heading__small-color: $gray-dark;
$heading__small-line-height: 1;
$heading__small-size: ($font-size-xs / $font-size-base) * 100%;