<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="oander_product_widget" frontName="oander_product_widget">
            <module name="Oander_ProductWidgetWarehouseManagerExtender" />
        </route>
    </router>
</config>