.button-container {
    float: right;
}

.raiffeisen-payment-byline {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.simplepath-wrapper-set.active .admin__collapsible-block {
    display: none;
}

.simplepay-payment-section.section-config.active > .admin__collapsible-block + input + fieldset {
    margin-left: 40px;
}

