<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="oander_external_rounding_unit" translate="label" type="text" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="1">
			<label>External Rounding Unit</label>
			<resource>Oander_ExternalRoundingUnit::config</resource>
			<tab>oander</tab>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
				<label>General</label>
				<field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="rounding_rule" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
					<label>Rounding Rule</label>
					<source_model>Oander\ExternalRoundingUnit\Model\Config\Source\RoundingRules</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
