<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Autorelated\Api\Data\RuleInterface" type="Oander\Autorelated\Rewrite\Aheadworks\Autorelated\Model\Data\Rule"/>
    <preference for="Aheadworks\Autorelated\Model\Rule" type="Oander\Autorelated\Rewrite\Aheadworks\Autorelated\Model\Rule"/>
    <preference for="Aheadworks\Autorelated\Model\Data\Rule" type="Oander\Autorelated\Rewrite\Aheadworks\Autorelated\Model\Data\Rule"/>
</config>