<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="cofidis" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Cofidis</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="commandline" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="15" translate="label" type="select">
					<label>Use Commandline</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Specific Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label>
				</field>
				<field id="environment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
					<label>Environment</label>
					<comment/>
					<source_model>Oander\CofidisPayment\Model\Config\Source\Environment</source_model>
				</field>
				<field id="shop_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="text">
					<label>Shop ID</label>
					<depends>
						<field id="environment">1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="shop_id_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="text">
					<label>Test Shop ID</label>
					<depends>
						<field id="environment">0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="iv_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="text">
					<label>IV code</label>
					<depends>
						<field id="environment">1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="iv_code_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="text">
					<label>Test IV code</label>
					<depends>
						<field id="environment">0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="text">
					<label>Key</label>
					<depends>
						<field id="environment">1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="key_test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="text">
					<label>Test Key</label>
					<depends>
						<field id="environment">0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field id="ownshares" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ownshare Intervals</label>
					<frontend_model>Oander\CofidisPayment\Block\Adminhtml\Form\Field\Ownshares</frontend_model>
					<backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
					<depends>
						<field id="environment">1</field>
					</depends>
				</field>
				<field id="ownshares_test" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ownshare Intervals Test</label>
					<frontend_model>Oander\CofidisPayment\Block\Adminhtml\Form\Field\Ownshares</frontend_model>
					<backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
					<depends>
						<field id="environment">0</field>
					</depends>
				</field>
				<field id="termsandcondition_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="170" translate="label" type="text">
					<label>Terms And Conditions URL</label>
					<validate>required-entry validate-url</validate>
				</field>
			</group>
		</section>
	</system>
</config>
