// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email variable overrides
//  _____________________________________________

$email__background-color: #e4e4e5;

$email-body__width: 675px;
$email-body__padding: 20px;

$email-content__background-color: #fff;

$button-primary__background: $brand-primary;
$button-primary__color: #fff;

$button__padding: 10px;

$button-primary__hover__background: $brand-primary;

$message-email__background: #fff;
$message-email__border-color: #f1f1f2;
$message-email__color: $gray-dark;

//$email-content__padding__base;
$message-email-link__color: $brand-primary;

$email-content__padding__base: 20px;
$email-content__padding__xl: 40px;
$email-content__padding__l: $grid-gutter-width-base;
$email-content__padding__m: $grid-gutter-width-base;
$email-content__padding__s: 10px;
$email-content__padding__xs: 5px;
$email-content__padding__auto: auto;