<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div
    class="block block--checkout-step block--authentication"
    data-step="auth"
    data-step-count="0"
    data-bind="css: { 'is-active': $parent.isActive('auth') }">
    <div class="card card--checkout-step-header">
        <span class="card__title" data-bind="i18n: 'Email address'"></span>
        <span class="card__action" data-bind="visible: $parent.isLoggedIn(), i18n: 'Edit'"></span>
        <div class="card__content"><span data-bind="i18n: getEmail()"></span></div>
    </div>
    <div class="block__content">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <!-- ko ifnot: isPasswordVisible() -->
                <h3 class="block__title" data-bind="i18n: 'What is your email address?'"></h3>
                <p class="block__lead" data-bind="i18n: 'If you are already a registered customer, you will have the opportunity to log in.'"></p>
                <!-- /ko -->

                <!-- ko if: isPasswordVisible() -->
                <h3 class="block__title">
                    <!-- ko i18n: 'Hi' --><!-- /ko -->
                    <!-- ko text: (firstname != false) ? firstname : '' --><!-- /ko -->!
                </h3>
                <p class="block__lead" data-bind="i18n: 'We look forward to seeing you again! Please log in to continue your purchase.'"></p>
                <!-- /ko -->

                <!-- ko ifnot: isCustomerLoggedIn() -->

                <!-- ko foreach: getRegion('before-login-form') -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
                <!-- /ko -->

                <form class="form form-login" data-role="email-with-possible-login" autocomplete="off" data-bind="submit:login"
                    method="post">
                    <!-- ko if: auth.errorMessage -->
                    <div class="messages">
                        <div class="message error" data-bind="i18n: auth.errorMessage"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: emailMessage -->
                    <div class="messages">
                        <div class="message success" data-bind="i18n: emailMessage"></div>
                    </div>
                    <!-- /ko -->

                    <fieldset id="customer-email-fieldset" class="fieldset customer-email-fieldset"
                        data-bind="blockLoader: isLoading">
                        <div
                            class="field field-full form-group required"
                            data-bind="css: { 'filled': auth.hasValidEmailAddress }">
                            <label class="label" for="customer-email">
                                <span data-bind="i18n: 'Email Address'"></span>
                            </label>
                            <div class="control _with-tooltip">
                                <input
                                    class="input-text form-control"
                                    autocomplete="off"
                                    type="email"
                                    data-bind="
                                        attr:{placeholder: $t('email_placeholder')},
                                        textInput: email,
                                        hasFocus: emailFocused,
                                        template: {afterRender: (checkAutofill(false))}"
                                    name="username"
                                    data-validate="{required:true, 'validate-email':true}"
                                    id="customer-email"
                                />
                            </div>
                        </div>
                    </fieldset>

                    <!--Hidden fields -->
                    <fieldset class="fieldset hidden-fields" data-bind="visible: isPasswordVisible">
                        <div class="field field-full form-group">
                            <label class="label" for="customer-password">
                                <span data-bind="i18n: 'Password'"></span>
                            </label>
                            <div class="control">
                                <input
                                    class="input-text form-control"
                                    type="password"
                                    data-bind="attr:{placeholder: $t('password_placeholder')}"
                                    name="password"
                                    id="customer-password"
                                    data-validate="{required:true}"
                                    autocomplete="off"
                                />
                            </div>

                        </div>
                        <!-- ko foreach: getRegion('additional-login-form-fields') -->
                        <!-- ko template: getTemplate() -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <div class="actions-toolbar">
                            <input name="context" type="hidden" value="checkout" />
                            <div class="primary">
                                <button
                                    type="submit"
                                    class="action login primary"
                                    data-action="checkout-method-login"
                                    data-bind="enable: auth.hasPasswordValue">
                                    <span data-bind="i18n: 'Login'"></span>
                                </button>
                            </div>
                            <div class="secondary">
                                <a
                                    class="action link remind"
                                    data-bind="
                                        click: forgotPasswordOpenModal,
                                        i18n: 'Forgot Your Password?'"
                                ></a>
                            </div>
                        </div>
                    </fieldset>
                    <!--Hidden fields -->
                    <div class="field form-group">
                        <!-- ko ifnot: isPasswordVisible() -->
                        <button
                            data-role="opc-continue"
                            type="submit"
                            class="action primary w-100"
                            data-bind="enable: auth.hasValidEmailAddress, click: authContinue">
                            <span data-bind="i18n: 'Continue to shipping method'"></span>
                        </button>
                        <!-- /ko -->
                    </div>
                </form>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div class="block block--forgot-password d-none">
    <div class="block__form">
        <form
            class="form form--forgot-password"
            id="form-validate">
            <div>
                <fieldset class="fieldset">
                    <div
                        class="field field-full email required form-group"
                        data-bind="css: { 'filled': emailFieldStatus }">
                        <label
                            for="forgot-password"
                            class="label">
                            <!-- ko i18n: 'Email Address' --><!-- /ko -->
                        </label>
                        <div class="control">
                            <input
                                type="email"
                                name="forgot-email"
                                id="forgot-email"
                                class="input-text form-control"
                                autocomplete="off"
                                data-bind="attr: { 'placeholder': $t('Email Address') }, value: getEmail()"
                                data-validate="{ required: true, 'validate-email': true }"
                                aria-label="E-mail"
                            >
                        </div>
                    </div>
                    <h4 data-bind="i18n: 'Please enter your email address below to receive a password reset link.'"></h4>
                </fieldset>
                <div class="actions-toolbar">
                    <button
                        type="button"
                        class="action submit primary"
                        data-bind="enable: emailFieldStatus">
                        <!-- ko i18n: 'Reset my password' --><!-- /ko -->
                    </button>
                </div>
                <div class="g-recaptcha" id="mp_recaptcha_forgot_password"></div>
            </div>
        </form>
    </div>
</div>
