// TODO - Refact product page SCSS!!

.catalog-product-view {
  .product-view-top {
    padding: 20px;
    background: #fff;
  }

  .product-info-main {
    margin-top: 0;
  }

  .product-info-right {
    position: relative;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: $border-radius;
  }

  .product-options-wrapper {
    > .fieldset {
      > .field {
        margin-bottom: 15px;

        > .label {
          display: block;
          margin-bottom: 15px;
          font-size: 16px;
          font-weight: $font-weight-medium;
        }
      }
    }
  }

  .product-share-links {
    padding: 10px 0;

    .action {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .block.related,
  .block.upsell,
  .block.crosssell {
    .block-title {
      font-size: $font-size-h3;
    }

    .block-actions {
      display: none;
      margin-bottom: 15px;
    }

    .list.product-items {
      .item.product {
        margin-bottom: 20px;
      }

      .product-item-info {
        height: 100%;
        margin-bottom: 0;
      }
    }

    .product-item-info {
      .field.choice {
        display: none;

        input {
          position: relative;
          top: -1px;
          margin: 0 .4rem 0 0;
          vertical-align: middle;
        }
      }
    }
  }

  .product-add-form {
    .mage-error {
      margin-bottom: 5px;
    }
  }
}

.product.info {
  .product.description {
    blockquote {
      font-style: italic;
    }

    ul,
    ol {
      margin-bottom: 20px;
      padding: 0 0 0 15px;
    }
  }
}
.product.info.detailed {
  clear: both;
  margin-bottom: 30px;
}
.product-info-main {
  margin-top: 30px;

  .stock {
    &.available,
    &.unavailable {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      vertical-align: top;
    }
    &.available {
      color: $brand-success;
    }
    &.unavailable {
      color: $brand-danger;
    }
  }

  .product {
    &.attribute {
      &.sku {
        display: inline-block;
        vertical-align: top;

        > .value {
          display: inline-block;
          vertical-align: top;
          word-break: break-all;
        }

        .type {
          margin-right: 5px;
          color: #000;
          &:after {
            content: ':';
          }
        }
      }

      &.overview {
        margin: 20px 0;
      }
    }

    &.alert {
      margin: 10px 0;
    }
  }

  .table-wrapper.grouped {
    .price-box {
      float: none;
      margin-top: 10px;
    }
    .product-item-name {
      margin-top: 10px;
    }
  }
}

.product-info-stock-sku {
  float: right;
  text-align: right;
}

.product-options-wrapper {
  .fieldset-product-options-inner {
    .legend {
      font-weight: $font-weight-bold;
      margin: 0 0 5px;
      font-size: 14px;
      border: none;
      display: inline-block;
      padding: 0;
    }
    &.required,
    &._required {
      .legend {
        &:after {
          content: '*';
          margin: $form-field-label-asterisk__margin;
        }
      }
    }
  }

  .field {
    .note {
      display: block;
    }

    .price-notice {
      @extend .abs-adjustment-incl-excl-tax;
    }
  }
}

.block.related {
  .action.select {
    margin: 0 5px;
  }
}

@include media-breakpoint-down(sm) {
  .product.product-media,
  .product-info-main {
    padding: 0;
  }

  .block.related {
    .action.select {
      display: block;
      margin: 5px 0;
    }
  }

  .compare,
  .product-addto-links .action.tocompare,
  .product-item-actions .actions-secondary > .action.tocompare,
  [class*='block-compare'] {
    //display: none;
  }
}

@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
}
