.product-view-top {
  margin-bottom: 30px;
  background: #fff;
}

.product-info-main {
  margin-top: 30px;

  .stock {
    &.available,
    &.unavailable {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      vertical-align: top;
    }

    &.available {
      color: $brand-success;
    }

    &.unavailable {
      color: $brand-danger;
    }
  }

  .product {
    &.attribute {
      &.sku {
        margin-top: .5rem;
        color: $gray-light;
        font-size: 13px;

        .type {
          margin-right: 5px;

          &::after {
            content: ':';
          }
        }
      }

      &.overview {
        margin: 20px 0;
      }
    }

    &.alert {
      margin: 10px 0;
    }
  }
}

.product-info-right {
  position: relative;
  padding: 20px;
  border: 1px solid $gray-border;
  border-radius: $border-radius;
}

.product-info-details {
  margin-bottom: 30px;
  clear: both;

  .product.description {
    blockquote {
      font-style: italic;
    }

    ul,
    ol {
      margin-bottom: 20px;
      padding: 0 0 0 15px;
    }
  }
}

.product-info-stock-sku {
  float: right;
  text-align: right;
}

.product-options-wrapper {
  > .fieldset {
    > .field {
      margin-bottom: 15px;

      > .label {
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: $font-weight-medium;
      }
    }
  }

  .fieldset-product-options-inner {
    .legend {
      display: inline-block;
      margin: 0 0 5px;
      padding: 0;
      border: 0;
      font-size: 14px;
      font-weight: $font-weight-bold;
    }

    &.required,
    &._required {
      .legend {
        &::after {
          content: '*';
        }
      }
    }
  }

  .field {
    .note {
      display: block;
    }

    .price-notice {
      @extend .abs-adjustment-incl-excl-tax;
    }
  }
}

.product-share-links {
  padding: 10px 0;

  .action {
    padding-right: 0;
    padding-left: 0;
    text-transform: none;

    .icon {
      vertical-align: middle;
    }
  }
}

.additional-attributes-wrapper {
  font-size: 13px;

  .col-item {
    padding: 0 $grid-gutter-width-base;
  }

  .data {
    color: $gray-light;
  }

  p {
    margin: 0;
  }
}

@include media-breakpoint-down(sm) {
  .product-info-media,
  .product-info-main {
    padding: 0;
  }

  .block.related {
    .action.select {
      display: block;
      margin: 5px 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .product-info-right {
    padding: 30px;
  }
}
