<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<cofidis>
				<active>0</active>
				<commandline>0</commandline>
				<model>Oander\CofidisPayment\Model\Payment\Cofidis</model>
				<order_status>pending</order_status>
				<title>Cofidis</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
				<is_gateway>1</is_gateway>
				<environment>0</environment>
				<shop_id_test>16983</shop_id_test>
				<iv_code_test>1234567890123456</iv_code_test>
				<construction_group_test>131</construction_group_test>
				<key_test>12345678901234561234567890123456</key_test>
				<status_url>https://cofidis.webdesign.hu/webkalk/check_kod/</status_url>
				<status_url_test>http://cofidis.webdesign.hu/teszt/check_kod/</status_url_test>
			</cofidis>
		</payment>
	</default>
</config>
