<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="billing-address-form">
  <!-- ko foreach: getRegion('before-fields') -->
  <!-- ko template: getTemplate() -->
  <!-- /ko -->
  <!--/ko-->
  <form
    data-hasrequired="* Required Fields"
    data-bind="visible: (isCustomerLoggedIn) ? ((addressOptions.length > 1) ? formIsVisible : true) : true">
    <fieldset id="billing-new-address-form" class="fieldset address">
      <h3
        class="block__title"
        data-bind="visible: formIsVisible, i18n: 'New billing address'"></h3>

      <div class="block__loader"></div>

      <div class="tab tab--billing-address">
        <div class="data items tab__titles">
          <div
            class="data item title tab__title active">
            <div
              class="data switch tab__switch"
              data-tab="billing-person"
              data-bind="i18n: 'billing_tab_person'"></div>
          </div>
          <div
            class="data item title tab__title">
            <div
              class="data switch tab__switch"
              data-tab="billing-company"
              data-bind="i18n: 'billing_tab_company'"></div>
          </div>
        </div>
        <div
          class="form form--billing-address"
          data-tab="billing-person">
          <!-- ko foreach: getRegion('additional-fieldsets') -->
          <!-- ko template: getTemplate() -->
          <!-- /ko -->
          <!--/ko-->
        </div>
      </div>
    </fieldset>

    <!-- if: formIsVisible -->
    <button
      data-role="opc-continue"
      type="submit"
      class="action primary w-100"
      data-bind="click: billingContinue, css: { 'not-active': !continueBtn() }">
      <span data-bind="i18n: 'Continue to payment method'"></span>
    </button>
    <!-- /ko -->
  </form>
</div>

<div data-bind="afterRender: formChanges()"></div>
