<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field field-select-billing">
  <div class="control" data-bind="if: (addressOptions.length > 1)">
    <div class="row">
      <!-- ko foreach: { data: addressOptions, as: 'address' } -->
      <div
        class="col-sm-6 col-md-4 col-shipping-address-item"
        data-bind="visible: address.customerAddressId">
        <div
          class="card card--shipping-address-item"
          data-bind="css: ($parent.isSelectedByAddressId(address.customerAddressId)) ? 'selected-item' : 'not-selected-item'">
          <div data-bind="html: $parent.sortCardAddress(address)"></div>

          <div class="card__actions">
            <!-- ko if: ($parent.isSelectedByAddressId(address.customerAddressId)) -->
            <button
              type="button"
              class="action-select-shipping-item action primary"
              disabled="disabled">
              <i class="icon fa fa-check-circle"></i>
              <span data-bind="i18n: 'Selected'"></span>
            </button>
            <!-- /ko -->

            <!-- ko ifnot: ($parent.isSelectedByAddressId(address.customerAddressId)) -->
            <button
              type="button"
              class="action-select-shipping-item action primary"
              data-bind="click: $parent.selectBillingAddressItem.bind(address)">
              <span data-bind="i18n: 'billing_select'"></span>
            </button>
            <!-- /ko -->
          </div>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: formIsVisible -->
      <!-- ko ifnot: hasNewAddress -->
      <div class="col-sm-6 col-md-4 col-shipping-address-item">
        <div
            class="card card--new-address"
            data-bind="click: addNewAddress">
            <span class="card__icon"></span>
            <span class="card__title" data-bind="i18n: 'Add new address'"></span>
        </div>
      </div>
      <!-- /ko -->

      <!-- ko if: hasNewAddress -->
      <div class="col-sm-6 col-md-4 col-shipping-address-item">
        <div
          class="card card--shipping-address-item"
          data-bind="css: ((selectedBillingAddress().status == 'new') && hasSelectedAddress) ? 'selected-item' : 'not-selected-item'">
          <div data-bind="html: $parent.sortCardAddress(newAddress())"></div>

          <div class="card__actions">
            <button
              type="button"
              class="edit-address-link action outline-secondary"
              data-bind="click: addNewAddress">
              <span data-bind="i18n: 'Edit'"></span>
            </button>

            <!-- ko if: ((selectedBillingAddress().status == 'new') && hasSelectedAddress) -->
            <button
              type="button"
              class="action-select-shipping-item action primary"
              disabled="disabled">
              <i class="icon fa fa-check-circle"></i>
              <span data-bind="i18n: 'Selected'"></span>
            </button>
            <!-- /ko -->

            <!-- ko ifnot: ((selectedBillingAddress().status == 'new') && hasSelectedAddress) -->
            <button
              type="button"
              class="action-select-shipping-item action primary"
              data-bind="click: selectBillingAddressItem.bind('', 'new')">
              <span data-bind="i18n: 'billing_select'"></span>
            </button>
            <!-- /ko -->
          </div>
        </div>
      </div>
      <!-- /ko -->

      <div class="col-12">
        <button
          data-role="opc-continue"
          type="submit"
          class="action primary w-100"
          data-bind="click: selectedBillingContinue, enable: hasSelectedAddress">
          <span data-bind="i18n: 'Continue to payment method'"></span>
        </button>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
