<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_oney_facilypay_config" xsi:type="object">Oney\ThreeByFour\Model\FacilipayConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
