@include media-breakpoint-up(lg) {
  .header-account-dropdown {
    width: 300px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: $header-height;
    right: 0;
    z-index: 100;
    list-style: none;
    border-radius: 0 0 5px 5px;
    text-align: right;

    li {
      & + li {
        margin-top: 10px;
      }
    }
    a {
      color: $gray-dark;
    }
  }
}