$color-list: (
    ('brand-primary', $brand-primary),
    ('brand-secondary', $brand-secondary),
    ('brand-success', $brand-success),
    ('brand-info', $brand-info),
    ('brand-warning', $brand-warning),
    ('brand-danger', $brand-danger),
    ('text-color', $body-color),
    ('brand-link', $link-color),
    ('brand-link-hover', $link-hover-color),
    ('brand-link-visited', $link-visited),
    ('text-selected-bg', $brand-selected-bg),
    ('text-selected-color', $brand-selected-text),
    ('right-message', $brand-success),
    ('wrong-message', $brand-danger)
);

@each $name, $value in $color-list {
  .#{$name} {
    background: $value;

    & + .color-name .color-code:before {
      content: '#{$value}';
    }
  }
}