<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="address">
                <field id="replace_postcode_region" translate="label comment" type="select" sortOrder="470" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Replace Postcode to Region</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
