/* Magnific Popup CSS */
.mfp-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    opacity: .8;
    overflow: hidden;
    z-index: 1042;
}

.mfp-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none !important;
    z-index: 1043;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    text-align: center;
    box-sizing: border-box;
}

.mfp-container::before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.mfp-align-top .mfp-container::before {
    display: none;
}

.mfp-content {
    display: inline;
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    z-index: 1045;
}

.popup-content {
    display: inline-block;
    position: relative;
    min-height: 44px;
    margin-top: 50px;
    padding: 20px 30px;
    background-color: #fff;
}

/* POSITIONS START */

.top-left .mfp-content .popup-content,
.top-center .mfp-content .popup-content,
.top-right .mfp-content .popup-content {
    margin-top: 5px;
    vertical-align: top;
}

.middle-left .mfp-content .popup-content,
.middle-center .mfp-content .popup-content,
.middle-right .mfp-content .popup-content {
    vertical-align: middle;
}

.bottom-left .mfp-content .popup-content,
.bottom-center .mfp-content .popup-content,
.bottom-right .mfp-content .popup-content {
    margin-bottom: 5px;
    vertical-align: bottom;
}

.top-left .mfp-container,
.middle-left .mfp-container,
.bottom-left .mfp-container {
    text-align: left;
}

.top-right .mfp-container,
.middle-right .mfp-container,
.bottom-right .mfp-container {
    text-align: right;
}

.top-center .mfp-container,
.middle-center .mfp-container,
.bottom-center .mfp-container {
    text-align: center;
}

/* POSITIONS END */

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    width: auto;
    margin-top: -.8em;
    color: #ccc;
    text-align: center;
    z-index: 1044;
}

.mfp-preloader a {
    color: #ccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0 0 18px 10px;
    color: #fff;
    font-family: Arial, Baskerville, monospace;
    font-size: 28px;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    opacity: .65;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close:hover {
    border: none !important;
    background: transparent !important;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    right: -6px;
    width: 100%;
    padding-right: 6px;
    color: #fff;
    text-align: right;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 110px;
    margin: 0;
    margin-top: -55px;
    padding: 0;
    opacity: .65;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow::before,
.mfp-arrow::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
    content: '';
}

.mfp-arrow::after {
    top: 8px;
    border-top-width: 13px;
    border-bottom-width: 13px;
}

.mfp-arrow::before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left::after {
    margin-left: 31px;
    border-right: 17px solid #fff;
}

.mfp-arrow-left::before {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right::after {
    margin-left: 39px;
    border-left: 17px solid #fff;
}

.mfp-arrow-right::before {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    width: 100%;
    max-width: 900px;
    line-height: 0;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.mfp-iframe-scaler iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

/* Main image in popup */
img.mfp-img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    line-height: 0;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure::after {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    width: auto;
    height: auto;
    background: #444;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    content: '';
    z-index: -1;
}

.mfp-figure small {
    display: block;
    color: #bdbdbd;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -36px;
    cursor: auto;
}

.mfp-title {
    padding-right: 36px;
    color: #f3f3f3;
    line-height: 18px;
    text-align: left;
    word-wrap: break-word;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /* Remove all paddings around the image on small screen */
    .mfp-img-mobile .mfp-image-holder {
        padding-right: 0;
        padding-left: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure::after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        position: fixed;
        top: auto;
        bottom: 0;
        margin: 0;
        padding: 3px 5px;
        background: rgba(0, 0, 0, .6);
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        top: 3px;
        right: 5px;
    }

    .mfp-img-mobile .mfp-close {
        position: fixed;
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        padding: 0;
        background: rgba(0, 0, 0, .6);
        line-height: 35px;
        text-align: center;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-right: 6px;
        padding-left: 6px;
    }
}

.popup-content.mfp-with-anim .admin__data-grid-outer-wrap .product-item {
    display: table-cell;
    width: auto !important;
    padding-left: 20px !important;
    text-align: left;
}

.popup-content.mfp-with-anim .admin__data-grid-outer-wrap .product-item .product-item-actions {
    margin: 0;
}
