.category-view-inner {
  position: relative;
  margin-bottom: 20px;

  .page-title {
    font-size: 36px;
    line-height: 1.4em;
    font-weight: normal;
  }
}
.category-view-inner.has-img {
  background-color: #fff;
  height: 80px;
  margin-bottom: 25px;

  .page-title-wrapper {
    position: absolute;
    top: 27px;
    left: 18px;
    z-index: 2;

    .page-title {
      margin: 0;
      font-size: 24px;
      line-height: 1em;
    }
  }
  .category-image {
    position: absolute;
    width: 50vw;
    height: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      right: 0;
      bottom: 0;
    }
  }
  .category-description {
    display: none;
    margin: 0;

    p {
      margin: 0;
    }
  }
}
.list.product-items {
  margin: 0;

  .product-item-info {
    .product-item-name,
    .price-box {
      display: block;
      position: relative;
      margin-bottom: 8px;
    }
    .product-item-name {
      a {
        display: block;
        color: $gray-darker;
      }
    }
    .price-box {
      .price-final_price {
        font-size: 1.1428rem;
        font-weight: 500;
      }

      .old-price {
        display: block;
        line-height: 1em;
        padding: 0;

        .price {
          font-size: 0.75em;

        }
      }
    }

    .actions-primary {
      .action.tocart {}
    }
    .actions-secondary {
      .action.towishlist {
        padding: 10px;
      }
    }
    .product-item-actions {
      position: relative;
    }
    .product-item-inner {
      padding: 5px 0;
    }

    // Hide unused elements
    .product-reviews-summary,
    .action.tocompare {
      display: none;
    }

    .swatch-option {
      $size: 18px;

      width: $size;
      height: $size;

      &.text {
        line-height: $size;
        padding: 0 $size/2;
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .category-view-inner.has-img {
    position: relative;
    height: 200px;

    .page-title-wrapper {
      top: 23px;
      left: 27px;

      .page-title {
        font-size: 42px;
      }
    }
    .category-image {
      width: 100%;

      img {
        width: 66%;
      }
    }
    .category-description {
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 90px;
      left: 27px;
      width: 200px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .category-view-inner {
    .page-title {
      font-size: 42px;
    }
  }
}
@include media-breakpoint-up(xl) {

}