.catalog-product-view {
  .product-view-top {
    background: #fff;
    padding: 20px;
  }
  .product-info-main {
    margin-top: 0;
  }
  .product-info-right {
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: $border-radius;
  }
  .page-title {
    line-height: 1.3em;
  }
  .product-info-price {
    padding-bottom: 20px;
    border-bottom: 1px solid $body-bg;
  }
  .price-box {
    .old-price {
      padding-left: 15px;
    }
  }
  .product-options-wrapper {
    > .fieldset {
      > .field {
        margin-bottom: 15px;

        > .label {
          display: block;
          font-size: 16px;
          font-weight: $font-weight-medium;
          margin-bottom: 15px;
        }
      }
    }

    input[type="text"],
    textarea,
    .admin__control-select {
      @extend .form-control;
    }

    .admin__field-option {
      input {
        vertical-align: middle;
        margin: 0 .5rem 0 0;
        position: relative;
        top: -1px;
      }
    }
  }
  .product-share-links {
    > div {
      display: inline-block;
      margin-right: 1rem;

      .btn {
        padding-left: 0;
        padding-right: 0;

        &:not(.hover) {
          color: $gray-light;
        }
      }
    }
  }
  .block.related,
  .block.upsell,
  .block.crosssell {
    .block-title {
      font-size: $font-size-h3;
    }
    .block-actions {
      margin-bottom: 15px;
      display: none;
    }
    .list.product-items {
      .item.product {
        margin-bottom: 20px;
      }
      .product-item-info {
        height: 100%;
        margin-bottom: 0;
      }
    }
    .product-item-info {
      .field.choice {
        display: none;

        input {
          vertical-align: middle;
          margin: 0 .4rem 0 0;
          position: relative;
          top: -1px;
        }
      }
    }
  }
  .product-add-form {
    .mage-error {
      margin-bottom: 5px;
    }
  }
}
.price-label {
  display: none;
}
.old-price,
.old.price {
  text-decoration: line-through;
  color: #a0a0a0;
}
.prices-tier {
  .price-container {
    .price-including-tax {
      + .price-excluding-tax {
        &:before {
          content: '(' attr(data-label) ': ';
        }

        &:last-child:after {
          content: ')';
        }
      }
    }

    .weee[data-label] {
      display: inline;

      .price {
        font-size: 11px;
      }

      &:before {
        content: ' +' attr(data-label) ': ';
      }
    }
  }
}
.actual-price {
  font-weight: $font-weight-bold;
}
.category {
  &-image {
    .image {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  &-image,
  &-description {
    margin-bottom: 20px;
  }
}
.product.info {
  .product.description {
    // General
    font-size: 12px;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
      color: $brand-primary;
      font-weight: $font-weight-medium;
      margin-bottom: 20px;
    }
    h1,.h1 {
      font-size: 18px;
    }
    h2,.h2 {
      font-size: 16px;
    }
    h3,.h3 {
      font-size: 14px;
    }
    h4,.h4 {
      font-size: 13px;
    }
    h5,.h5,h6,.h6 {
      font-size: 12px;
    }

    p {
      margin-bottom: 20px;
    }

    // Quote
    blockquote {
      background: url('../images/quote.png') no-repeat 0 4px;
      background-size: 24px auto;
      padding-left: 35px;
      font-size: 24px;
      line-height: 1.25em;
      font-style: italic;
      color: #000;
    }

    // Lists
    ul,ol {
      padding: 0 0 0 15px;
      margin-bottom: 20px;
    }

  }
}
.product.info.detailed {
  clear: both;
  margin-bottom: 30px;
}
#tab-label-reviews-title {
  .counter {
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}
.product-info-main {
  margin-top: 30px;

  .stock {
    &.available,
    &.unavailable {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      vertical-align: top;
    }
    &.available {
      color: $brand-success;
    }
    &.unavailable {
      color: $brand-danger;
    }
  }
  .product {
    &.attribute {
      &.sku {
        display: inline-block;
        vertical-align: top;

        > .value {
          display: inline-block;
          vertical-align: top;
          word-break: break-all;
        }

        .type {
          margin-right: 5px;
          color: #000;
          &:after {
            content: ':';
          }
        }
      }

      &.overview {
        margin: 20px 0;
      }
    }

    &.alert {
      margin: 10px 0;
    }
  }
  .table-wrapper.grouped {
    .price-box {
      float: none;
      margin-top: 10px;
    }
    .product-item-name {
      margin-top: 10px;
    }
  }
  .price-box {
    float: left;
    margin-top: 10px;

    > span {
      display: inline-block;
    }
  }
  .product-reviews-summary {
    display: none;
  }
  .product-reviews-summary .reviews-actions {
    font-size: $font-size-base;
  }
}
.product-info-stock-sku {
  float: right;
  text-align: right;
}
.product-options-wrapper {
  .fieldset-product-options-inner {
    .legend {
      font-weight: $font-weight-bold;
      margin: 0 0 5px;
      font-size: 14px;
      border: none;
      display: inline-block;
      padding: 0;
    }
    &.required,
    &._required {
      .legend {
        &:after {
          content: '*';
          margin: $form-field-label-asterisk__margin;
        }
      }
    }
  }
  .field {
    .note {
      display: block;
    }
    .price-notice {
      @extend .abs-adjustment-incl-excl-tax;
    }
  }
}
.product-info-main,
.product-options-bottom {
  .price-box {
    .price-including-tax + .price-excluding-tax,
    .weee + .price-excluding-tax,
    .weee {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;

      .price {
        font-size: 12px;
        font-weight: $font-weight-bold;
      }
    }
    .price-wrapper {
      .price {
        font-size: 26px;
        font-weight: $font-weight-bold;
      }
    }
    .price {
      white-space: nowrap;
    }
  }
  .special-price {
    display: block;
    margin: 10px 0;

    .price-label + .price-wrapper {
      display: inline-block;
    }
  }
  .old-price,
  .special-price {

    .price-label {
      &:after {
        content: ': ';
      }
    }
  }
  .old-price {
    .price-wrapper {
      .price {
        font-weight: 300;
        font-size: 18px;
      }
    }
  }

  .box-tocart {
    margin: 20px 0;

    .field.qty {
      padding-right: 0.75 * 20px;
      width: 75px;
      float: left;
    }
    .actions {
      text-align: center;
      overflow: hidden;

      .btn {
        display: block;
        width: 100%;
      }
    }
  }
}
.prices-tier {
  @extend .abs-reset-list;
  background: $gray-lightest;
  margin: 10px 0;
  padding: 10px (0.75 * 20px);

  .price-container {
    display: inline-block;
  }
  .price-including-tax,
  .price-excluding-tax,
  .weee {
    display: inline-block;

    .price {
      font-size: 14px;
      font-weight: $font-weight-bold;
    }
  }
}
.block.related {
  .action.select {
    margin: 0 5px;
  }
}

@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {
  .product.product-media,
  .product-info-main {
    padding: 0;
  }
  .catalog-product-view {
    .column.main {
      display: flex;
      flex-direction: column;
    }
    .product.product-media {
      order: -1;
    }
  }
  .block.related {
    .action.select {
      display: block;
      margin: 5px 0;
    }
  }
  .compare,
  .product-addto-links .action.tocompare,
  .product-item-actions .actions-secondary > .action.tocompare,
  [class*='block-compare'] {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .product.info {
    .product.description {
      blockquote {
        background-size: 40px auto;
        padding-left: 80px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .product.product-media {
    padding-left: 0;
  }
  .product.info {
    .product.description {
      // General
      font-size: 14px;

      h4,.h4,h5,.h5,h6,.h6 {
        font-size: 14px;
      }
    }
  }
  .product-info-main,
  .product-options-bottom {
    .price-box {
      .price-wrapper {
        .price {
          font-size: 30px;
        }
      }
    }
    .old-price {
      .price-wrapper {
        .price {
          font-size: 20px;
        }
      }
    }
    .box-tocart {
      .field.qty {
        display: table-cell;
        float: none;
      }

      .actions {
        display: table-cell;
        vertical-align: bottom;
        overflow: visible;
      }
    }
  }
}

